In [ ]:
import pandas as pd
import numpy as np
import datetime

## Creating measurement TSV for TJU redacted PHI cohort:

In [ ]:
#TJU demographic tables that include test measurements:
directory1 = '/content/drive/MyDrive/TJU_RSNA_RICORD_COVID_positive_demographics_2021-11-02.csv'
directory2 = '/content/drive/MyDrive/RSNA_MIDRC_TJU_ Covid_Negative_Population_V2_fix_deidentified.csv'

#patients in this submission:
directory3 = '/content/case_RSNA_20221206.csv'

#measurements from previous TJU submissions:
directory4 = '/content/CORRECTED_measurement_RSNA_20220812.csv'
directory5 = '/content/CORRECTED_measurement_RSNA_20220819.csv'

In [ ]:
df1 = pd.read_csv(directory1)
df2 = pd.read_csv(directory2)
df3 = pd.read_csv(directory3)

df4 = pd.read_csv(directory4)
df5 = pd.read_csv(directory5)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Starting with gathering measurements from the TJU positive demographics table. We need to clean up this table so it's useful:

#### First we need to drop the the rows with null values in the patient-id or covid reported date columns:

In [ ]:
df1 = df1.dropna(subset = ['ANON-PatientID', 'ANON-COVID_REPORTED_DATE'])

#### We are interested in these specific columns:

In [ ]:
df1 = df1[['ANON-PatientID', 'ANON-COVID_REPORTED_DATE', 'COVID_ORDER_NAME', 'COVID_STATUS']]

In [ ]:
df1.rename(columns={'ANON-COVID_REPORTED_DATE': 'ANON_COVID_REPORTED_DATE', 'COVID_ORDER_NAME': 'ORDER_NAME', 'COVID_STATUS': 'RESULT_VALUE', 'ANON-PatientID':'case_ids'}, inplace=True)

#### Drop any duplicate measurements:

In [ ]:
df1 = df1.drop_duplicates()
df1

,case_ids,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE
0,514382-005370,10/2/2019,SARS COV-2 (COVID-19) NAA,POSITIVE
1,514382-007424,7/10/2019,SARS COV-2 (COVID-19) EXTERNAL,POSITIVE
2,514382-004492,4/18/2016,SARS COV-2 (COVID-19) + INFLUENZA A/B,POSITIVE
3,514382-011373,2/1/2012,SARS COV-2 (COVID-19) + INFLUENZA A/B,POSITIVE
4,514382-003854,7/11/2018,SARS COV-2 (COVID-19) NAA,POSITIVE
...,...,...,...,...
15660,514382-012584,9/2/2018,SARS COV-2 (COVID-19) + INFLUENZA A/B,POSITIVE
15661,514382-007966,6/2/2013,SARS COV-2 (COVID-19) + INFLUENZA A/B,POSITIVE
15662,514382-006121,6/21/2013,SARS COV-2 (COVID-19) + INFLUENZA A/B,POSITIVE
15664,514382-008526,5/3/2015,SARS COV-2 (COVID-19) EXTERNAL,POSITIVE
15665,514382-006421,11/14/2017,SARS COV-2 (COVID-19) + INFLUENZA A/B,POSITIVE

#### Converting dates to datetime values:

In [ ]:
df1['ANON_COVID_REPORTED_DATE']= pd.to_datetime(df1['ANON_COVID_REPORTED_DATE'])

#### Sorting values by patient id and reported date:

In [ ]:
df1 = df1.sort_values(by=['case_ids', 'ANON_COVID_REPORTED_DATE'])

In [ ]:
df1

,case_ids,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE
3863,514382-000001,2011-01-05,SARS COV-2 (COVID-19) NAA,POSITIVE
1754,514382-000002,2011-02-05,SARS COV-2 (COVID-19) (INPATIENT),POSITIVE
1760,514382-000003,2012-03-22,SARS COV-2 (COVID-19) NAA,POSITIVE
3284,514382-000004,2017-10-22,SARS COV-2 (COVID-19) (INPATIENT),POSITIVE
10016,514382-000005,2017-11-27,NaN,POSITIVE
...,...,...,...,...
12507,514382-014307,2013-07-21,NaN,POSITIVE
11034,514382-014308,2015-01-29,SARS COV-2 (COVID-19) + INFLUENZA A/B,POSITIVE
14000,514382-014309,2013-11-15,NaN,POSITIVE
5739,514382-014310,2017-11-25,"SARS COV-2 (COVID-19) WITH INFLUENZA A, INFLUE...",POSITIVE
10489,514382-014311,2014-03-20,"SARS COV-2 (COVID-19) WITH INFLUENZA A, INFLUE...",POSITIVE

#### Mapping order name values to accepted MIDRC data model values:

In [ ]:
df1['ORDER_NAME'].unique()

array(['SARS COV-2 (COVID-19) NAA', 'SARS COV-2 (COVID-19) (INPATIENT)',
       nan, 'SARS COV-2 (COVID-19) NJ STATE (LAB USE ONLY)',
       'SARS COV-2 (COVID-19) (LABCORP)',
       'TJU SARS COV-2 (LAB ORDER ONLY)',
       'SARS CORONAVIRUS WITH COV-2 RNA, QUAL RT-PCR (QUEST)',
       'SARS COV-2 (COVID-19) EXTERNAL',
       'SARS COV-2 (COVID-19) (EMPLOYEE OR PAT ONLY)',
       'SARS COV-2 (COVID-19) (JEFFERSON LAB)',
       'SARS COV-2 (COVID-19) + INFLUENZA A/B',
       'SARS COV-2 (COVID-19) WITH INFLUENZA A, INFLUENZA B AND RESPIRATORY SYNCYTIAL VIRUS',
       'SARS COV-2 (COVID-19) NAA - LABCORP / QUEST'], dtype=object)

In [ ]:
df1['ORDER_NAME'] = df1['ORDER_NAME'].map({'SARS COV-2 (COVID-19) NAA': 'RT-PCR', 'SARS COV-2 (COVID-19) (INPATIENT)': 'RT-PCR',
                             'SARS COV-2 (COVID-19) NJ STATE (LAB USE ONLY)': 'RT-PCR',
                             'SARS COV-2 (COVID-19) (LABCORP)': 'RT-PCR',
                             'TJU SARS COV-2 (LAB ORDER ONLY)': 'RT-PCR',
                             'SARS CORONAVIRUS WITH COV-2 RNA, QUAL RT-PCR (QUEST)': 'RT-PCR',
                             'SARS COV-2 (COVID-19) EXTERNAL': 'Not Reported',
                             'SARS COV-2 (COVID-19) (EMPLOYEE OR PAT ONLY)': 'RT-PCR',
                             'SARS COV-2 (COVID-19) (JEFFERSON LAB)': 'RT-PCR',
                             'SARS COV-2 (COVID-19) + INFLUENZA A/B': 'RT-PCR',
                             'SARS COV-2 (COVID-19) WITH INFLUENZA A, INFLUENZA B AND RESPIRATORY SYNCYTIAL VIRUS': 'RT-PCR',
                             'SARS COV-2 (COVID-19) NAA - LABCORP / QUEST': 'RT-PCR'})

In [ ]:
df1['ORDER_NAME'].fillna('Not Reported', inplace = True)

In [ ]:
df1['ORDER_NAME'].unique()

array(['RT-PCR', 'Not Reported'], dtype=object)

#### Mapping result values to accepted MIDRC data model values:

In [ ]:
df1['RESULT_VALUE'].unique()

array(['POSITIVE'], dtype=object)

In [ ]:
df1['RESULT_VALUE'] = df1['RESULT_VALUE'].map({'POSITIVE': 'Positive'})

#### The table for positive measurements looks good now:

In [ ]:
df1

            case_ids ANON_COVID_REPORTED_DATE    ORDER_NAME RESULT_VALUE
3863   514382-000001               2011-01-05        RT-PCR     Positive
1754   514382-000002               2011-02-05        RT-PCR     Positive
1760   514382-000003               2012-03-22        RT-PCR     Positive
3284   514382-000004               2017-10-22        RT-PCR     Positive
10016  514382-000005               2017-11-27  Not Reported     Positive
...              ...                      ...           ...          ...
12507  514382-014307               2013-07-21  Not Reported     Positive
11034  514382-014308               2015-01-29        RT-PCR     Positive
14000  514382-014309               2013-11-15  Not Reported     Positive
5739   514382-014310               2017-11-25        RT-PCR     Positive
10489  514382-014311               2014-03-20        RT-PCR     Positive

[14287 rows x 4 columns]

### Onto the TJU negative demographics table. Similarly, we need to also clean up this table so it's useful:

In [ ]:
df2

,ANON-PatientID,Age,Gender Desc,ZIP,Race Desc,Ethnicity Desc,ANON_ENC_TIMESTAMP,ANON_ADMISSION_TIMESTAMP,ORDER_NAME,ANON_ORDER_TIMESTAMP,RESULT_VALUE,ANON_COVID_REPORTED_DATE,HOSP_LOS,HOSP_ENCTR_IND,ICU_ENCTR_IND,ICU_DAYS_TOTAL,VENT_YN,VENT_DAYS_TOTAL,DISCHARGE_DISPOSITION,MORTALITY_FLAG
0,514382-000002,82,Male,191,asian,"Not Hispanic, Latino/a, or Spanish origin",1/5/2012,1/5/2012,SARS COV-2 (COVID-19) NAA,1/5/2012,Negative,1/5/2012,1.0,Y,N,NaN,N,NaN,DISCHARGED TO HOME OR SELF CARE (ROUTINE DISCH...,No
1,514382-000002,82,Male,191,asian,"Not Hispanic, Latino/a, or Spanish origin",5/29/2011,5/29/2011,SARS COV-2 (COVID-19) NAA,5/29/2011,Negative,5/30/2011,1.0,Y,N,NaN,N,NaN,DISCHARGED TO HOME OR SELF CARE (ROUTINE DISCH...,No
2,514382-000002,82,Male,191,asian,"Not Hispanic, Latino/a, or Spanish origin",6/8/2011,6/8/2011,SARS COV-2 (COVID-19) NAA,6/8/2011,Negative,6/8/2011,5.0,Y,N,NaN,N,NaN,DISCHARGED/TRANSFERRED TO HOME UNDER CARE OF O...,No
3,514382-000014,54,Male,80,black or african american,"Not Hispanic, Latino/a, or Spanish origin",7/7/2018,NaN,SARS COV-2 (COVID-19) (LABCORP),7/7/2018,Not Detected,7/10/2018,NaN,N,N,NaN,N,NaN,NaN,NaN
4,514382-000015,79,Female,80,asian,"Not Hispanic, Latino/a, or Spanish origin",3/2/2012,3/2/2012,SARS COV-2 (COVID-19) NAA,3/4/2012,Negative,3/5/2012,7.0,Y,N,NaN,N,NaN,DISCHARGED/TRANSFERRED TO SKILLED NURSING FACI...,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70217,514382-063591,57,Male,191.0,black or african american,"Not Hispanic, Latino/a, or Spanish origin",3/10/2020,3/10/2020,SARS COV-2 (COVID-19) NAA,3/24/2020,Negative,3/24/2020,18.0,Y,Y,3.16,N,NaN,DISCHARGED/TRANSFERRED TO HOME UNDER CARE OF O...,No
70218,514382-063592,87,Male,191.0,white or caucasian,"Not Hispanic, Latino/a, or Spanish origin",9/5/2014,9/5/2014,SARS COV-2 (COVID-19) NAA,9/10/2014,Negative,9/10/2014,5.0,Y,N,NaN,N,NaN,DISCHARGED/TRANSFERRED TO SKILLED NURSING FACI...,No
70219,514382-063593,84,Male,191.0,hispanic,Puerto Rican,1/8/2015,1/8/2015,SARS COV-2 (COVID-19) NAA,1/9/2015,Negative,1/12/2015,4.0,Y,N,NaN,N,NaN,DISCHARGED/TRANSFERRED TO HOME UNDER CARE OF O...,No
70220,514382-063594,56,Female,191.0,white or caucasian,"Not Hispanic, Latino/a, or Spanish origin",5/17/2018,5/17/2018,SARS COV-2 (COVID-19) EXTERNAL,5/19/2018,Negative,5/17/2018,6.0,Y,N,NaN,N,NaN,DISCHARGED TO HOME OR SELF CARE (ROUTINE DISCH...,No
70221,514382-063595,85,Male,191.0,white or caucasian,"Not Hispanic, Latino/a, or Spanish origin",9/14/2016,9/14/2016,SARS COV-2 (COVID-19) NAA,9/20/2016,Negative,9/20/2016,7.0,Y,N,NaN,N,NaN,DISCHARGED/TRANSFERRED TO SKILLED NURSING FACI...,No

In [ ]:
df2 = df2.dropna(subset = ['ANON-PatientID', 'ANON_COVID_REPORTED_DATE'])

In [ ]:
df2 = df2[['ANON-PatientID', 'ANON_COVID_REPORTED_DATE', 'ORDER_NAME', 'RESULT_VALUE']]

In [ ]:
df2 = df2.drop_duplicates()
df2

,ANON-PatientID,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE
0,514382-000002,1/5/2012,SARS COV-2 (COVID-19) NAA,Negative
1,514382-000002,5/30/2011,SARS COV-2 (COVID-19) NAA,Negative
2,514382-000002,6/8/2011,SARS COV-2 (COVID-19) NAA,Negative
3,514382-000014,7/10/2018,SARS COV-2 (COVID-19) (LABCORP),Not Detected
4,514382-000015,3/5/2012,SARS COV-2 (COVID-19) NAA,Negative
...,...,...,...,...
70217,514382-063591,3/24/2020,SARS COV-2 (COVID-19) NAA,Negative
70218,514382-063592,9/10/2014,SARS COV-2 (COVID-19) NAA,Negative
70219,514382-063593,1/12/2015,SARS COV-2 (COVID-19) NAA,Negative
70220,514382-063594,5/17/2018,SARS COV-2 (COVID-19) EXTERNAL,Negative
70221,514382-063595,9/20/2016,SARS COV-2 (COVID-19) NAA,Negative

In [ ]:
dict_rename = {'ANON-PatientID':'case_ids'}
df2.rename(columns=dict_rename,
          inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
df2['ANON_COVID_REPORTED_DATE']= pd.to_datetime(df2['ANON_COVID_REPORTED_DATE'])

In [ ]:
df2 = df2.sort_values(by=['case_ids', 'ANON_COVID_REPORTED_DATE'])

In [ ]:
df2

,case_ids,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE
1,514382-000002,2011-05-30,SARS COV-2 (COVID-19) NAA,Negative
2,514382-000002,2011-06-08,SARS COV-2 (COVID-19) NAA,Negative
0,514382-000002,2012-01-05,SARS COV-2 (COVID-19) NAA,Negative
3,514382-000014,2018-07-10,SARS COV-2 (COVID-19) (LABCORP),Not Detected
4,514382-000015,2012-03-05,SARS COV-2 (COVID-19) NAA,Negative
...,...,...,...,...
70217,514382-063591,2020-03-24,SARS COV-2 (COVID-19) NAA,Negative
70218,514382-063592,2014-09-10,SARS COV-2 (COVID-19) NAA,Negative
70219,514382-063593,2015-01-12,SARS COV-2 (COVID-19) NAA,Negative
70220,514382-063594,2018-05-17,SARS COV-2 (COVID-19) EXTERNAL,Negative
70221,514382-063595,2016-09-20,SARS COV-2 (COVID-19) NAA,Negative

In [ ]:
df2['ORDER_NAME'].unique()

array(['SARS COV-2 (COVID-19) NAA', 'SARS COV-2 (COVID-19) (LABCORP)',
       'SARS COV-2 (COVID-19) EXTERNAL',
       'SARS COV-2 (COVID-19) (JEFFERSON LAB)',
       'SARS COV-2 (COVID-19) NJ STATE (LAB USE ONLY)',
       'SARS COV-2 (LAB ORDER ONLY)',
       'SARS CORONAVIRUS WITH COV-2 RNA, QUAL RT-PCR (QUEST)'],
      dtype=object)

In [ ]:
df2['ORDER_NAME'] = df2['ORDER_NAME'].map({'SARS COV-2 (COVID-19) NAA': 'RT-PCR',
                                                       'SARS COV-2 (COVID-19) (LABCORP)': 'RT-PCR',
                                                       'SARS COV-2 (COVID-19) EXTERNAL': 'Not Reported',
                                                       'SARS COV-2 (COVID-19) (JEFFERSON LAB)': 'RT-PCR',
                                                       'SARS COV-2 (COVID-19) NJ STATE (LAB USE ONLY)': 'RT-PCR',
                                                       'SARS COV-2 (LAB ORDER ONLY)': 'RT-PCR',
                                                       'SARS CORONAVIRUS WITH COV-2 RNA, QUAL RT-PCR (QUEST)': 'RT-PCR'})

In [ ]:
df2['ORDER_NAME'].fillna('Not Reported', inplace = True)

In [ ]:
df2['ORDER_NAME'].unique()

array(['RT-PCR', 'Not Reported'], dtype=object)

In [ ]:
df2['RESULT_VALUE'].unique()

array(['Negative', 'Not Detected', 'Negative ', 'NOT DETECTED', 'ik'],
      dtype=object)

In [ ]:
df2['RESULT_VALUE'] = df2['RESULT_VALUE'].map({'Negative ': 'Negative', 'Not Detected': 'Negative',
                                               'NOT DETECTED': 'Negative', 'ik': 'Not Reported',
                                               'Negative': 'Negative'})

In [ ]:
df2['RESULT_VALUE'].unique()

array(['Negative', 'Not Reported'], dtype=object)

#### The neagtive measurements table is now ready:

In [ ]:
df2

            case_ids ANON_COVID_REPORTED_DATE    ORDER_NAME RESULT_VALUE
1      514382-000002               2011-05-30        RT-PCR     Negative
2      514382-000002               2011-06-08        RT-PCR     Negative
0      514382-000002               2012-01-05        RT-PCR     Negative
3      514382-000014               2018-07-10        RT-PCR     Negative
4      514382-000015               2012-03-05        RT-PCR     Negative
...              ...                      ...           ...          ...
70217  514382-063591               2020-03-24        RT-PCR     Negative
70218  514382-063592               2014-09-10        RT-PCR     Negative
70219  514382-063593               2015-01-12        RT-PCR     Negative
70220  514382-063594               2018-05-17  Not Reported     Negative
70221  514382-063595               2016-09-20        RT-PCR     Negative

[70086 rows x 4 columns]

### Appending both measurement tables (positive and negative) to gather all measurements:

In [ ]:
all_measurements = df1.append(df2)

In [ ]:
all_measurements

            case_ids ANON_COVID_REPORTED_DATE    ORDER_NAME RESULT_VALUE
3863   514382-000001               2011-01-05        RT-PCR     Positive
1754   514382-000002               2011-02-05        RT-PCR     Positive
1760   514382-000003               2012-03-22        RT-PCR     Positive
3284   514382-000004               2017-10-22        RT-PCR     Positive
10016  514382-000005               2017-11-27  Not Reported     Positive
...              ...                      ...           ...          ...
70217  514382-063591               2020-03-24        RT-PCR     Negative
70218  514382-063592               2014-09-10        RT-PCR     Negative
70219  514382-063593               2015-01-12        RT-PCR     Negative
70220  514382-063594               2018-05-17  Not Reported     Negative
70221  514382-063595               2016-09-20        RT-PCR     Negative

[84373 rows x 4 columns]

### We will use the case node table, df3, to gather the measurements from all the patients in the cohort:

In [ ]:
df3

,type,submitter_id,site_id,case_ids,age_at_index_gt89,age_at_index,sex,race,ethnicity,gen3_linked_subjects_available,zip,index_event,linked_external_data,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin,token_record_id,treatment_info,datasets
0,NaN,514382-000004,514382,514382-000004,No,68.0,Male,White,Not Hispanic or Latino,0,80,COVID-19 Test,NaN,Yes,True,False,NaN,NaN,NaN,NaN
1,NaN,514382-000005,514382,514382-000005,No,80.0,Male,Asian,Not Hispanic or Latino,0,80,COVID-19 Test,NaN,Yes,True,False,NaN,NaN,NaN,NaN
2,NaN,514382-000007,514382,514382-000007,No,63.0,Female,Black or African American,Not Hispanic or Latino,0,81,COVID-19 Test,NaN,Yes,True,True,NaN,NaN,NaN,NaN
3,NaN,514382-000008,514382,514382-000008,No,85.0,Male,Asian,Not Hispanic or Latino,0,80,COVID-19 Test,NaN,Yes,False,False,NaN,NaN,NaN,NaN
4,NaN,514382-000015,514382,514382-000015,No,79.0,Female,Asian,Not Hispanic or Latino,0,80,COVID-19 Test,NaN,No,False,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2860,NaN,514382-041489,514382,514382-041489,No,26.0,Male,White,Not Hispanic or Latino,0,81,COVID-19 Test,NaN,No,False,False,NaN,NaN,NaN,NaN
2861,NaN,514382-041517,514382,514382-041517,No,76.0,Female,White,Not Hispanic or Latino,0,81,COVID-19 Test,NaN,No,True,True,NaN,NaN,NaN,NaN
2862,NaN,514382-041532,514382,514382-041532,No,70.0,Male,White,Not Reported,0,80,COVID-19 Test,NaN,No,False,False,NaN,NaN,NaN,NaN
2863,NaN,514382-041548,514382,514382-041548,No,50.0,Male,Black or African American,Not Hispanic or Latino,0,80,COVID-19 Test,NaN,No,False,False,NaN,NaN,NaN,NaN
2864,NaN,514382-041549,514382,514382-041549,No,56.0,Male,Black or African American,Not Hispanic or Latino,0,191,COVID-19 Test,NaN,No,False,False,NaN,NaN,NaN,NaN

#### Gather the subset of measurements that belong only to the patients in this batch:

In [ ]:
sub_measurements = all_measurements.loc[all_measurements.case_ids.isin(df3['case_ids'])]

In [ ]:
sub_measurements

            case_ids ANON_COVID_REPORTED_DATE    ORDER_NAME RESULT_VALUE
3284   514382-000004               2017-10-22        RT-PCR     Positive
10016  514382-000005               2017-11-27  Not Reported     Positive
4201   514382-000007               2018-06-01        RT-PCR     Positive
5001   514382-000008               2010-06-03        RT-PCR     Positive
9765   514382-000015               2011-04-09        RT-PCR     Positive
...              ...                      ...           ...          ...
45287  514382-041517               2019-08-30        RT-PCR     Negative
45310  514382-041532               2020-10-03        RT-PCR     Negative
45329  514382-041548               2014-07-27        RT-PCR     Negative
45330  514382-041549               2015-09-20        RT-PCR     Negative
45331  514382-041549               2015-12-13        RT-PCR     Negative

[3877 rows x 4 columns]

#### Sanity check: Make sure that there exists at least one measurement for each patient in the cohort:

In [ ]:
sub_measurements.drop_duplicates(subset = 'case_ids')

            case_ids ANON_COVID_REPORTED_DATE    ORDER_NAME RESULT_VALUE
3284   514382-000004               2017-10-22        RT-PCR     Positive
10016  514382-000005               2017-11-27  Not Reported     Positive
4201   514382-000007               2018-06-01        RT-PCR     Positive
5001   514382-000008               2010-06-03        RT-PCR     Positive
9765   514382-000015               2011-04-09        RT-PCR     Positive
...              ...                      ...           ...          ...
45245  514382-041489               2013-12-16        RT-PCR     Negative
45287  514382-041517               2019-08-30        RT-PCR     Negative
45310  514382-041532               2020-10-03        RT-PCR     Negative
45329  514382-041548               2014-07-27        RT-PCR     Negative
45330  514382-041549               2015-09-20        RT-PCR     Negative

[2865 rows x 4 columns]

#### Make sure that the dates are all converted to datetime:

In [ ]:
sub_measurements['ANON_COVID_REPORTED_DATE']= pd.to_datetime(sub_measurements['ANON_COVID_REPORTED_DATE'])

<ipython-input-40-3e08af4189e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_measurements['ANON_COVID_REPORTED_DATE']= pd.to_datetime(sub_measurements['ANON_COVID_REPORTED_DATE'])

#### Sort all rows again by patient id and covid reported date:

In [ ]:
sub_measurements = sub_measurements.sort_values(by=['case_ids', 'ANON_COVID_REPORTED_DATE'])

In [ ]:
sub_measurements

            case_ids ANON_COVID_REPORTED_DATE    ORDER_NAME RESULT_VALUE
3284   514382-000004               2017-10-22        RT-PCR     Positive
10016  514382-000005               2017-11-27  Not Reported     Positive
4201   514382-000007               2018-06-01        RT-PCR     Positive
5001   514382-000008               2010-06-03        RT-PCR     Positive
9765   514382-000015               2011-04-09        RT-PCR     Positive
...              ...                      ...           ...          ...
45287  514382-041517               2019-08-30        RT-PCR     Negative
45310  514382-041532               2020-10-03        RT-PCR     Negative
45329  514382-041548               2014-07-27        RT-PCR     Negative
45330  514382-041549               2015-09-20        RT-PCR     Negative
45331  514382-041549               2015-12-13        RT-PCR     Negative

[3877 rows x 4 columns]

#### Create submitter_ids in the format Measurement_patient-id_0measurement-count:

In [ ]:
mrns = sub_measurements['case_ids'].tolist()
print(mrns)

['514382-000004', '514382-000005', '514382-000007', '514382-000008', '514382-000015', '514382-000015', '514382-000018', '514382-000021', '514382-000035', '514382-000043', '514382-000044', '514382-000051', '514382-000057', '514382-000057', '514382-000064', '514382-000067', '514382-000079', '514382-000083', '514382-000087', '514382-000089', '514382-000091', '514382-000099', '514382-000101', '514382-000114', '514382-000121', '514382-000124', '514382-000132', '514382-000133', '514382-000138', '514382-000138', '514382-000138', '514382-000155', '514382-000156', '514382-000164', '514382-000165', '514382-000171', '514382-000171', '514382-000179', '514382-000179', '514382-000188', '514382-000189', '514382-000193', '514382-000198', '514382-000201', '514382-000211', '514382-000221', '514382-000225', '514382-000247', '514382-000250', '514382-000254', '514382-000258', '514382-000261', '514382-000268', '514382-000270', '514382-000271', '514382-000271', '514382-000271', '514382-000274', '514382-000287', '514382-000289', '514382-000292', '514382-000292', '514382-000294', '514382-000300', '514382-000304', '514382-000304', '514382-000319', '514382-000325', '514382-000331', '514382-000332', '514382-000332', '514382-000335', '514382-000336', '514382-000344', '514382-000344', '514382-000359', '514382-000361', '514382-000375', '514382-000375', '514382-000383', '514382-000384', '514382-000388', '514382-000388', '514382-000388', '514382-000393', '514382-000394', '514382-000396', '514382-000430', '514382-000433', '514382-000436', '514382-000438', '514382-000441', '514382-000444', '514382-000445', '514382-000446', '514382-000448', '514382-000453', '514382-000455', '514382-000463', '514382-000463', '514382-000463', '514382-000466', '514382-000468', '514382-000479', '514382-000483', '514382-000484', '514382-000485', '514382-000487', '514382-000487', '514382-000505', '514382-000510', '514382-000515', '514382-000517', '514382-000519', '514382-000519', '514382-000523', '514382-000524', '514382-000525', '514382-000532', '514382-000544', '514382-000548', '514382-000556', '514382-000556', '514382-000556', '514382-000556', '514382-000574', '514382-000574', '514382-000574', '514382-000576', '514382-000585', '514382-000589', '514382-000610', '514382-000612', '514382-000615', '514382-000619', '514382-000621', '514382-000623', '514382-000625', '514382-000629', '514382-000630', '514382-000630', '514382-000634', '514382-000641', '514382-000641', '514382-000641', '514382-000641', '514382-000641', '514382-000645', '514382-000647', '514382-000647', '514382-000648', '514382-000649', '514382-000650', '514382-000658', '514382-000662', '514382-000672', '514382-000676', '514382-000677', '514382-000687', '514382-000690', '514382-000690', '514382-000690', '514382-000691', '514382-000705', '514382-000705', '514382-000708', '514382-000708', '514382-000708', '514382-000719', '514382-000719', '514382-000720', '514382-000727', '514382-000747', '514382-000753', '514382-000753', '514382-000755', '514382-000755', '514382-000758', '514382-000770', '514382-000772', '514382-000782', '514382-000785', '514382-000788', '514382-000789', '514382-000800', '514382-000816', '514382-000818', '514382-000824', '514382-000828', '514382-000829', '514382-000836', '514382-000848', '514382-000851', '514382-000867', '514382-000867', '514382-000870', '514382-000870', '514382-000870', '514382-000870', '514382-000870', '514382-000876', '514382-000895', '514382-000898', '514382-000899', '514382-000906', '514382-000906', '514382-000906', '514382-000916', '514382-000918', '514382-000920', '514382-000921', '514382-000921', '514382-000922', '514382-000922', '514382-000925', '514382-000926', '514382-000927', '514382-000943', '514382-000947', '514382-000948', '514382-000962', '514382-000964', '514382-000966', '514382-000969', '514382-000970', '514382-000973', '514382-000976', '514382-000979', '514382-000979', '514382-000984', '514382-000984', '514382-000986', '514382-000995', '514382-000995', '514382-000997', '514382-000998', '514382-000999', '514382-001003', '514382-001015', '514382-001022', '514382-001022', '514382-001022', '514382-001024', '514382-001025', '514382-001034', '514382-001034', '514382-001034', '514382-001034', '514382-001037', '514382-001046', '514382-001054', '514382-001055', '514382-001065', '514382-001071', '514382-001073', '514382-001090', '514382-001090', '514382-001090', '514382-001090', '514382-001090', '514382-001090', '514382-001090', '514382-001090', '514382-001092', '514382-001092', '514382-001112', '514382-001114', '514382-001119', '514382-001119', '514382-001119', '514382-001119', '514382-001119', '514382-001119', '514382-001120', '514382-001120', '514382-001120', '514382-001122', '514382-001134', '514382-001136', '514382-001147', '514382-001164', '514382-001167', '514382-001171', '514382-001171', '514382-001171', '514382-001171', '514382-001175', '514382-001178', '514382-001191', '514382-001209', '514382-001215', '514382-001215', '514382-001215', '514382-001218', '514382-001218', '514382-001218', '514382-001219', '514382-001219', '514382-001222', '514382-001222', '514382-001231', '514382-001233', '514382-001233', '514382-001235', '514382-001243', '514382-001247', '514382-001252', '514382-001254', '514382-001254', '514382-001254', '514382-001255', '514382-001264', '514382-001269', '514382-001284', '514382-001297', '514382-001303', '514382-001309', '514382-001315', '514382-001319', '514382-001333', '514382-001336', '514382-001338', '514382-001341', '514382-001342', '514382-001344', '514382-001345', '514382-001346', '514382-001347', '514382-001365', '514382-001369', '514382-001382', '514382-001384', '514382-001385', '514382-001385', '514382-001393', '514382-001400', '514382-001402', '514382-001412', '514382-001419', '514382-001419', '514382-001424', '514382-001436', '514382-001445', '514382-001445', '514382-001445', '514382-001448', '514382-001448', '514382-001449', '514382-001449', '514382-001451', '514382-001451', '514382-001454', '514382-001457', '514382-001469', '514382-001470', '514382-001473', '514382-001488', '514382-001494', '514382-001503', '514382-001507', '514382-001511', '514382-001514', '514382-001522', '514382-001523', '514382-001524', '514382-001524', '514382-001524', '514382-001524', '514382-001527', '514382-001532', '514382-001539', '514382-001539', '514382-001545', '514382-001545', '514382-001556', '514382-001566', '514382-001573', '514382-001577', '514382-001577', '514382-001580', '514382-001580', '514382-001599', '514382-001609', '514382-001616', '514382-001619', '514382-001623', '514382-001624', '514382-001632', '514382-001633', '514382-001633', '514382-001635', '514382-001635', '514382-001637', '514382-001638', '514382-001638', '514382-001640', '514382-001655', '514382-001662', '514382-001679', '514382-001696', '514382-001698', '514382-001700', '514382-001709', '514382-001732', '514382-001732', '514382-001737', '514382-001738', '514382-001738', '514382-001738', '514382-001741', '514382-001741', '514382-001741', '514382-001741', '514382-001741', '514382-001751', '514382-001751', '514382-001751', '514382-001762', '514382-001762', '514382-001762', '514382-001763', '514382-001764', '514382-001769', '514382-001769', '514382-001769', '514382-001769', '514382-001775', '514382-001784', '514382-001792', '514382-001792', '514382-001820', '514382-001820', '514382-001822', '514382-001827', '514382-001828', '514382-001833', '514382-001833', '514382-001833', '514382-001837', '514382-001837', '514382-001837', '514382-001837', '514382-001839', '514382-001840', '514382-001840', '514382-001842', '514382-001857', '514382-001867', '514382-001867', '514382-001872', '514382-001875', '514382-001879', '514382-001879', '514382-001879', '514382-001882', '514382-001886', '514382-001892', '514382-001892', '514382-001900', '514382-001900', '514382-001903', '514382-001907', '514382-001909', '514382-001912', '514382-001912', '514382-001912', '514382-001912', '514382-001912', '514382-001917', '514382-001919', '514382-001920', '514382-001922', '514382-001935', '514382-001940', '514382-001941', '514382-001941', '514382-001943', '514382-001943', '514382-001944', '514382-001944', '514382-001945', '514382-001946', '514382-001946', '514382-001949', '514382-001955', '514382-001955', '514382-001956', '514382-001956', '514382-001958', '514382-001959', '514382-001971', '514382-001971', '514382-001972', '514382-001978', '514382-001981', '514382-001983', '514382-001988', '514382-002004', '514382-002009', '514382-002010', '514382-002017', '514382-002018', '514382-002020', '514382-002020', '514382-002025', '514382-002025', '514382-002028', '514382-002028', '514382-002028', '514382-002046', '514382-002047', '514382-002067', '514382-002068', '514382-002071', '514382-002075', '514382-002075', '514382-002075', '514382-002075', '514382-002077', '514382-002077', '514382-002079', '514382-002081', '514382-002083', '514382-002083', '514382-002086', '514382-002094', '514382-002094', '514382-002098', '514382-002100', '514382-002106', '514382-002109', '514382-002116', '514382-002120', '514382-002120', '514382-002121', '514382-002138', '514382-002146', '514382-002156', '514382-002162', '514382-002164', '514382-002165', '514382-002169', '514382-002169', '514382-002181', '514382-002181', '514382-002186', '514382-002186', '514382-002192', '514382-002200', '514382-002210', '514382-002216', '514382-002235', '514382-002241', '514382-002249', '514382-002249', '514382-002253', '514382-002257', '514382-002260', '514382-002265', '514382-002265', '514382-002265', '514382-002268', '514382-002273', '514382-002278', '514382-002278', '514382-002278', '514382-002278', '514382-002288', '514382-002288', '514382-002298', '514382-002312', '514382-002316', '514382-002321', '514382-002321', '514382-002322', '514382-002323', '514382-002323', '514382-002323', '514382-002323', '514382-002341', '514382-002347', '514382-002351', '514382-002356', '514382-002357', '514382-002362', '514382-002363', '514382-002366', '514382-002366', '514382-002366', '514382-002370', '514382-002373', '514382-002373', '514382-002373', '514382-002376', '514382-002387', '514382-002400', '514382-002400', '514382-002402', '514382-002407', '514382-002407', '514382-002407', '514382-002411', '514382-002411', '514382-002411', '514382-002411', '514382-002411', '514382-002412', '514382-002414', '514382-002414', '514382-002414', '514382-002421', '514382-002421', '514382-002422', '514382-002433', '514382-002445', '514382-002448', '514382-002448', '514382-002453', '514382-002457', '514382-002457', '514382-002469', '514382-002469', '514382-002473', '514382-002473', '514382-002474', '514382-002474', '514382-002476', '514382-002478', '514382-002485', '514382-002485', '514382-002502', '514382-002504', '514382-002504', '514382-002521', '514382-002526', '514382-002526', '514382-002538', '514382-002555', '514382-002555', '514382-002555', '514382-002555', '514382-002565', '514382-002571', '514382-002572', '514382-002574', '514382-002574', '514382-002575', '514382-002575', '514382-002575', '514382-002591', '514382-002596', '514382-002608', '514382-002613', '514382-002618', '514382-002618', '514382-002625', '514382-002625', '514382-002625', '514382-002625', '514382-002644', '514382-002646', '514382-002650', '514382-002650', '514382-002650', '514382-002651', '514382-002651', '514382-002669', '514382-002672', '514382-002680', '514382-002681', '514382-002683', '514382-002685', '514382-002700', '514382-002701', '514382-002701', '514382-002723', '514382-002727', '514382-002731', '514382-002731', '514382-002749', '514382-002763', '514382-002763', '514382-002763', '514382-002763', '514382-002768', '514382-002771', '514382-002780', '514382-002780', '514382-002785', '514382-002785', '514382-002785', '514382-002795', '514382-002798', '514382-002798', '514382-002798', '514382-002798', '514382-002798', '514382-002798', '514382-002812', '514382-002812', '514382-002819', '514382-002823', '514382-002832', '514382-002848', '514382-002848', '514382-002853', '514382-002854', '514382-002855', '514382-002855', '514382-002855', '514382-002855', '514382-002858', '514382-002884', '514382-002887', '514382-002887', '514382-002887', '514382-002887', '514382-002891', '514382-002891', '514382-002892', '514382-002895', '514382-002909', '514382-002929', '514382-002943', '514382-002947', '514382-002947', '514382-002947', '514382-002947', '514382-002947', '514382-002948', '514382-002949', '514382-002963', '514382-002973', '514382-002976', '514382-002982', '514382-002982', '514382-002986', '514382-002986', '514382-002988', '514382-002995', '514382-002996', '514382-003006', '514382-003011', '514382-003011', '514382-003034', '514382-003043', '514382-003043', '514382-003043', '514382-003043', '514382-003043', '514382-003045', '514382-003053', '514382-003053', '514382-003053', '514382-003053', '514382-003058', '514382-003060', '514382-003068', '514382-003095', '514382-003095', '514382-003098', '514382-003112', '514382-003112', '514382-003113', '514382-003114', '514382-003143', '514382-003153', '514382-003171', '514382-003173', '514382-003195', '514382-003197', '514382-003197', '514382-003197', '514382-003199', '514382-003212', '514382-003219', '514382-003226', '514382-003237', '514382-003237', '514382-003251', '514382-003255', '514382-003255', '514382-003266', '514382-003266', '514382-003269', '514382-003269', '514382-003289', '514382-003289', '514382-003291', '514382-003291', '514382-003294', '514382-003301', '514382-003308', '514382-003308', '514382-003311', '514382-003320', '514382-003323', '514382-003323', '514382-003323', '514382-003323', '514382-003323', '514382-003323', '514382-003323', '514382-003323', '514382-003323', '514382-003325', '514382-003325', '514382-003325', '514382-003326', '514382-003346', '514382-003348', '514382-003364', '514382-003364', '514382-003378', '514382-003378', '514382-003391', '514382-003391', '514382-003391', '514382-003391', '514382-003391', '514382-003391', '514382-003397', '514382-003397', '514382-003406', '514382-003434', '514382-003439', '514382-003441', '514382-003458', '514382-003469', '514382-003470', '514382-003470', '514382-003475', '514382-003475', '514382-003475', '514382-003475', '514382-003475', '514382-003475', '514382-003482', '514382-003487', '514382-003489', '514382-003489', '514382-003489', '514382-003489', '514382-003489', '514382-003489', '514382-003491', '514382-003491', '514382-003502', '514382-003502', '514382-003504', '514382-003510', '514382-003524', '514382-003524', '514382-003524', '514382-003540', '514382-003540', '514382-003541', '514382-003541', '514382-003541', '514382-003543', '514382-003550', '514382-003564', '514382-003567', '514382-003590', '514382-003591', '514382-003592', '514382-003592', '514382-003593', '514382-003594', '514382-003597', '514382-003597', '514382-003597', '514382-003599', '514382-003603', '514382-003603', '514382-003606', '514382-003642', '514382-003642', '514382-003645', '514382-003652', '514382-003654', '514382-003656', '514382-003672', '514382-003673', '514382-003681', '514382-003681', '514382-003681', '514382-003681', '514382-003685', '514382-003686', '514382-003699', '514382-003706', '514382-003725', '514382-003725', '514382-003725', '514382-003729', '514382-003732', '514382-003733', '514382-003737', '514382-003738', '514382-003745', '514382-003748', '514382-003753', '514382-003777', '514382-003781', '514382-003781', '514382-003783', '514382-003783', '514382-003783', '514382-003783', '514382-003786', '514382-003805', '514382-003823', '514382-003824', '514382-003826', '514382-003829', '514382-003829', '514382-003842', '514382-003843', '514382-003846', '514382-003846', '514382-003857', '514382-003871', '514382-003873', '514382-003874', '514382-003878', '514382-003887', '514382-003897', '514382-003911', '514382-003914', '514382-003914', '514382-003916', '514382-003916', '514382-003921', '514382-003929', '514382-003957', '514382-003959', '514382-003959', '514382-003959', '514382-003959', '514382-003962', '514382-003973', '514382-003975', '514382-003975', '514382-003976', '514382-003989', '514382-003989', '514382-003991', '514382-003993', '514382-003994', '514382-004009', '514382-004030', '514382-004035', '514382-004035', '514382-004041', '514382-004056', '514382-004063', '514382-004082', '514382-004087', '514382-004103', '514382-004123', '514382-004131', '514382-004151', '514382-004172', '514382-004172', '514382-004172', '514382-004185', '514382-004189', '514382-004189', '514382-004210', '514382-004223', '514382-004237', '514382-004248', '514382-004248', '514382-004248', '514382-004248', '514382-004248', '514382-004256', '514382-004262', '514382-004262', '514382-004281', '514382-004289', '514382-004289', '514382-004291', '514382-004294', '514382-004294', '514382-004296', '514382-004296', '514382-004306', '514382-004308', '514382-004308', '514382-004314', '514382-004317', '514382-004317', '514382-004317', '514382-004320', '514382-004328', '514382-004330', '514382-004330', '514382-004343', '514382-004348', '514382-004349', '514382-004349', '514382-004353', '514382-004353', '514382-004353', '514382-004372', '514382-004377', '514382-004391', '514382-004391', '514382-004392', '514382-004395', '514382-004396', '514382-004398', '514382-004401', '514382-004406', '514382-004406', '514382-004406', '514382-004415', '514382-004431', '514382-004433', '514382-004440', '514382-004447', '514382-004458', '514382-004459', '514382-004460', '514382-004463', '514382-004474', '514382-004481', '514382-004482', '514382-004483', '514382-004486', '514382-004488', '514382-004489', '514382-004493', '514382-004496', '514382-004502', '514382-004504', '514382-004509', '514382-004519', '514382-004522', '514382-004533', '514382-004534', '514382-004537', '514382-004551', '514382-004562', '514382-004572', '514382-004576', '514382-004590', '514382-004600', '514382-004602', '514382-004606', '514382-004608', '514382-004619', '514382-004623', '514382-004625', '514382-004625', '514382-004625', '514382-004625', '514382-004627', '514382-004637', '514382-004642', '514382-004646', '514382-004650', '514382-004650', '514382-004650', '514382-004650', '514382-004650', '514382-004656', '514382-004666', '514382-004668', '514382-004669', '514382-004669', '514382-004669', '514382-004669', '514382-004670', '514382-004680', '514382-004709', '514382-004714', '514382-004714', '514382-004714', '514382-004717', '514382-004746', '514382-004762', '514382-004765', '514382-004766', '514382-004768', '514382-004770', '514382-004779', '514382-004792', '514382-004808', '514382-004809', '514382-004811', '514382-004813', '514382-004816', '514382-004816', '514382-004816', '514382-004817', '514382-004829', '514382-004832', '514382-004832', '514382-004841', '514382-004842', '514382-004847', '514382-004856', '514382-004873', '514382-004873', '514382-004873', '514382-004874', '514382-004883', '514382-004888', '514382-004889', '514382-004892', '514382-004895', '514382-004897', '514382-004907', '514382-004908', '514382-004911', '514382-004918', '514382-004921', '514382-004933', '514382-004938', '514382-004956', '514382-004966', '514382-004971', '514382-004974', '514382-004974', '514382-004984', '514382-004988', '514382-004990', '514382-004991', '514382-004995', '514382-005002', '514382-005004', '514382-005005', '514382-005009', '514382-005010', '514382-005010', '514382-005010', '514382-005010', '514382-005010', '514382-005010', '514382-005032', '514382-005048', '514382-005062', '514382-005065', '514382-005065', '514382-005071', '514382-005072', '514382-005072', '514382-005072', '514382-005076', '514382-005077', '514382-005081', '514382-005082', '514382-005082', '514382-005082', '514382-005082', '514382-005082', '514382-005082', '514382-005082', '514382-005088', '514382-005098', '514382-005100', '514382-005101', '514382-005104', '514382-005105', '514382-005105', '514382-005105', '514382-005106', '514382-005106', '514382-005108', '514382-005109', '514382-005110', '514382-005112', '514382-005117', '514382

In [ ]:
count = 1
for i in range(len(mrns)):
  if i !=(len(mrns)-1):
    next = mrns[i+1]
  else:
    next = 'end'
  current = mrns[i]
  mrns[i] = mrns[i] + "_0" + str(count)
  if current == next:
    count = count+1
  else:
    count = 1

In [ ]:
sub_measurements = sub_measurements.assign(submitter_id=mrns)
sub_measurements

,case_ids,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE,submitter_id
3284,514382-000004,2017-10-22,RT-PCR,Positive,514382-000004_01
10016,514382-000005,2017-11-27,Not Reported,Positive,514382-000005_01
4201,514382-000007,2018-06-01,RT-PCR,Positive,514382-000007_01
5001,514382-000008,2010-06-03,RT-PCR,Positive,514382-000008_01
9765,514382-000015,2011-04-09,RT-PCR,Positive,514382-000015_01
...,...,...,...,...,...
45287,514382-041517,2019-08-30,RT-PCR,Negative,514382-041517_01
45310,514382-041532,2020-10-03,RT-PCR,Negative,514382-041532_01
45329,514382-041548,2014-07-27,RT-PCR,Negative,514382-041548_01
45330,514382-041549,2015-09-20,RT-PCR,Negative,514382-041549_01
45331,514382-041549,2015-12-13,RT-PCR,Negative,514382-041549_02

In [ ]:
sub_measurements["submitter_id"] =   "Measurement_" + sub_measurements["submitter_id"]

#### Calculate test_days_from_index:

In [ ]:
sub_measurements = sub_measurements.reset_index(drop=True)

In [ ]:
test_days_from_index = []
track = ''
date_time = datetime.date.today()
for ind in sub_measurements.index:
    if sub_measurements['case_ids'][ind] == track:
      test_days_from_index.append((sub_measurements['ANON_COVID_REPORTED_DATE'][ind]-date_time).days)
    else:
      test_days_from_index.append(0)
      date_time = sub_measurements['ANON_COVID_REPORTED_DATE'][ind]
    track = sub_measurements['case_ids'][ind]

In [ ]:
sub_measurements['test_days_from_index'] = test_days_from_index

In [ ]:
sub_measurements

,case_ids,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE,submitter_id,test_days_from_index
0,514382-000004,2017-10-22,RT-PCR,Positive,Measurement_514382-000004_01,0
1,514382-000005,2017-11-27,Not Reported,Positive,Measurement_514382-000005_01,0
2,514382-000007,2018-06-01,RT-PCR,Positive,Measurement_514382-000007_01,0
3,514382-000008,2010-06-03,RT-PCR,Positive,Measurement_514382-000008_01,0
4,514382-000015,2011-04-09,RT-PCR,Positive,Measurement_514382-000015_01,0
...,...,...,...,...,...,...
3872,514382-041517,2019-08-30,RT-PCR,Negative,Measurement_514382-041517_01,0
3873,514382-041532,2020-10-03,RT-PCR,Negative,Measurement_514382-041532_01,0
3874,514382-041548,2014-07-27,RT-PCR,Negative,Measurement_514382-041548_01,0
3875,514382-041549,2015-09-20,RT-PCR,Negative,Measurement_514382-041549_01,0
3876,514382-041549,2015-12-13,RT-PCR,Negative,Measurement_514382-041549_02,84

#### Keep the measurements that weren't submitted in the previous two submissions of TJU data:

In [ ]:
sub_measurements_left = sub_measurements.loc[~sub_measurements.case_ids.isin(df4['case_ids'])]

In [ ]:
sub_measurements_left = sub_measurements_left.loc[~sub_measurements_left.case_ids.isin(df5['case_ids'])]
sub_measurements_left

,case_ids,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE,submitter_id,test_days_from_index
0,514382-000004,2017-10-22,RT-PCR,Positive,Measurement_514382-000004_01,0
1,514382-000005,2017-11-27,Not Reported,Positive,Measurement_514382-000005_01,0
3,514382-000008,2010-06-03,RT-PCR,Positive,Measurement_514382-000008_01,0
4,514382-000015,2011-04-09,RT-PCR,Positive,Measurement_514382-000015_01,0
5,514382-000015,2012-03-05,RT-PCR,Negative,Measurement_514382-000015_02,331
...,...,...,...,...,...,...
3872,514382-041517,2019-08-30,RT-PCR,Negative,Measurement_514382-041517_01,0
3873,514382-041532,2020-10-03,RT-PCR,Negative,Measurement_514382-041532_01,0
3874,514382-041548,2014-07-27,RT-PCR,Negative,Measurement_514382-041548_01,0
3875,514382-041549,2015-09-20,RT-PCR,Negative,Measurement_514382-041549_01,0
3876,514382-041549,2015-12-13,RT-PCR,Negative,Measurement_514382-041549_02,84

#### We're left with 2896 measurements total. Let's make sure that the submitter_ids are unique:

In [ ]:
sub_measurements_left.drop_duplicates(subset = 'submitter_id')

,case_ids,ANON_COVID_REPORTED_DATE,ORDER_NAME,RESULT_VALUE,submitter_id,test_days_from_index
0,514382-000004,2017-10-22,RT-PCR,Positive,Measurement_514382-000004_01,0
1,514382-000005,2017-11-27,Not Reported,Positive,Measurement_514382-000005_01,0
3,514382-000008,2010-06-03,RT-PCR,Positive,Measurement_514382-000008_01,0
4,514382-000015,2011-04-09,RT-PCR,Positive,Measurement_514382-000015_01,0
5,514382-000015,2012-03-05,RT-PCR,Negative,Measurement_514382-000015_02,331
...,...,...,...,...,...,...
3872,514382-041517,2019-08-30,RT-PCR,Negative,Measurement_514382-041517_01,0
3873,514382-041532,2020-10-03,RT-PCR,Negative,Measurement_514382-041532_01,0
3874,514382-041548,2014-07-27,RT-PCR,Negative,Measurement_514382-041548_01,0
3875,514382-041549,2015-09-20,RT-PCR,Negative,Measurement_514382-041549_01,0
3876,514382-041549,2015-12-13,RT-PCR,Negative,Measurement_514382-041549_02,84

#### Rename the columns to adhere to the MIDRC data model:

In [ ]:
sub_measurements_left['test_name'] = 'COVID-19'

In [ ]:
sub_measurements_left['cases'] = sub_measurements_left['case_ids']

In [ ]:
dict_rename = {'RESULT_VALUE':'test_result_text',
               'ORDER_NAME': 'test_method'}
sub_measurements_left.rename(columns=dict_rename,
          inplace=True)

In [ ]:
sub_measurements_left

,case_ids,ANON_COVID_REPORTED_DATE,test_method,test_result_text,submitter_id,test_days_from_index,test_name,cases
0,514382-000004,2017-10-22,RT-PCR,Positive,Measurement_514382-000004_01,0,COVID-19,514382-000004
1,514382-000005,2017-11-27,Not Reported,Positive,Measurement_514382-000005_01,0,COVID-19,514382-000005
3,514382-000008,2010-06-03,RT-PCR,Positive,Measurement_514382-000008_01,0,COVID-19,514382-000008
4,514382-000015,2011-04-09,RT-PCR,Positive,Measurement_514382-000015_01,0,COVID-19,514382-000015
5,514382-000015,2012-03-05,RT-PCR,Negative,Measurement_514382-000015_02,331,COVID-19,514382-000015
...,...,...,...,...,...,...,...,...
3872,514382-041517,2019-08-30,RT-PCR,Negative,Measurement_514382-041517_01,0,COVID-19,514382-041517
3873,514382-041532,2020-10-03,RT-PCR,Negative,Measurement_514382-041532_01,0,COVID-19,514382-041532
3874,514382-041548,2014-07-27,RT-PCR,Negative,Measurement_514382-041548_01,0,COVID-19,514382-041548
3875,514382-041549,2015-09-20,RT-PCR,Negative,Measurement_514382-041549_01,0,COVID-19,514382-041549
3876,514382-041549,2015-12-13,RT-PCR,Negative,Measurement_514382-041549_02,84,COVID-19,514382-041549

#### Save file:

In [ ]:
sub_measurements_left.to_csv('measurement_RSNA_20221206.csv', index = False)