In [ ]:
import pandas as pd
import numpy as np

### Creating the visit TSV for UMichigan:

In [ ]:
directory1 = '/content/drive/MyDrive/powertools_umich_20230113.csv' #powertools output file for UMichigan batch 1
directory2 = '/content/drive/MyDrive/all_covid_details_umichigan.csv' #all covid admission details provided by UMichigan

In [ ]:
df1 = pd.read_csv(directory1)
df2 = pd.read_csv(directory2)

#### Grabbing all the cases in batch 1 using the powertools output file:

In [ ]:
cases_b1 = df1.drop_duplicates(subset ='case_ids')
cases_b1

,file_name,accession_number,acquisition_type,body_part_examined,case_ids,contrast_bolus_agent,contrast_bolus_agent_number,patient_position,convolution_kernel,detector_type,...,pixel_spacing,series_description,series_uid,slice_thickness,spacing_between_slices,spatial_resolution,study_description,study_uid,view_position,study_date
0,1.2.826.0.1.3680043.10.474.302028.12706.dcm,2,NaN,CHEST,302028-000002,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,CHEST AP,1.2.826.0.1.3680043.10.474.302028.7,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.6,AP,20170401
1,1.2.826.0.1.3680043.10.474.302028.40598.dcm,2,NaN,CHEST,302028-000003,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,CHEST AP,1.2.826.0.1.3680043.10.474.302028.11,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.10,AP,20180412
4,1.2.826.0.1.3680043.10.474.302028.83248.dcm,2,NaN,CHEST,302028-000004,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,NaN,1.2.826.0.1.3680043.10.474.302028.19,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.18,AP,20110517
5,1.2.826.0.1.3680043.10.474.302028.106944.dcm,2,NaN,CHEST,302028-000005,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest Lat.,1.2.826.0.1.3680043.10.474.302028.22,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.21,NaN,20141214
7,1.2.826.0.1.3680043.10.474.302028.120776.dcm,2,NaN,NaN,302028-000006,NaN,NaN,FFS,BONE,NaN,...,0.703125,EXPIRATION @ RV,1.2.826.0.1.3680043.10.474.302028.1112,1.25,-0.625,NaN,CT CHEST WO CONTRAST,1.2.826.0.1.3680043.10.474.302028.26,NaN,20160829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541206,1.2.826.0.1.3680043.10.474.302028.1593289.dcm,2,NaN,CHEST,302028-004296,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest p.a.,1.2.826.0.1.3680043.10.474.302028.1593291,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.1593290,NaN,20191027
541208,1.2.826.0.1.3680043.10.474.302028.1593331.dcm,2,NaN,NaN,302028-004297,93ML ISO370,NaN,FFS,STANDARD,NaN,...,0.712891,CHEST 2 q 2 SAGITTAL,1.2.826.0.1.3680043.10.474.302028.1593333,1.25,NaN,NaN,CT CHEST W CONTRAST,1.2.826.0.1.3680043.10.474.302028.1593332,NaN,20160520
542180,1.2.826.0.1.3680043.10.474.302028.1595897.dcm,2,NaN,CHEST,302028-004298,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest p.a.,1.2.826.0.1.3680043.10.474.302028.1595899,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.1595898,NaN,20140313
542182,1.2.826.0.1.3680043.10.474.302028.1595902.dcm,2,NaN,CHEST,302028-004299,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,CHEST AP,1.2.826.0.1.3680043.10.474.302028.1595904,NaN,NaN,0.125,XR CHEST PORTABLE 1 VIEW,1.2.826.0.1.3680043.10.474.302028.1595903,AP,20111101
542183,1.2.826.0.1.3680043.10.474.302028.1595932.dcm,2,NaN,CHEST,302028-004300,NaN,NaN,NaN,NaN,SCINTILLATOR,...,NaN,W Chest a.p. PEDS Infant_c,1.2.826.0.1.3680043.10.474.302028.1595934,NaN,NaN,NaN,XR CHEST 2 VIEWS,1.2.826.0.1.3680043.10.474.302028.1595933,NaN,20120405

#### Now let's locate the covid19-related admission details for this cohort:

In [ ]:
admission_details_b1 = df2.loc[df2.anon_mrn.isin(cases_b1['case_ids'])]
admission_details_b1

,anon_mrn,covid19_hospital_admission,anon_date_covid19_hospital_admission,anon_date_covid19_hospital_discharge,covid19_discharge_type,covid19_medication_at_discharge,anon_date_medication_start,covid19_icu_admission,anon_date_covid19_icu_admission,anon_date_covid19_icu_discharge,...,anon_date_covid19_treatment_assessed,covid19_treatment_received,anon_date_vitals,weight,height,blood_pressure,temperature,pulse,respiratory_rate,spO2
0,302028-000002,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,302028-000005,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,302028-000004,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,302028-000006,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,302028-000003,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4389,302028-004032,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4390,302028-003844,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4391,302028-004103,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4392,302028-003894,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4393,302028-003880,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### We only want details for patients that have been admitted to the hospital:

In [ ]:
admission_details_b1 = admission_details_b1.loc[admission_details_b1['covid19_hospital_admission']=='Yes']

In [ ]:
admission_details_b1

,anon_mrn,covid19_hospital_admission,anon_date_covid19_hospital_admission,anon_date_covid19_hospital_discharge,covid19_discharge_type,covid19_medication_at_discharge,anon_date_medication_start,covid19_icu_admission,anon_date_covid19_icu_admission,anon_date_covid19_icu_discharge,...,anon_date_covid19_treatment_assessed,covid19_treatment_received,anon_date_vitals,weight,height,blood_pressure,temperature,pulse,respiratory_rate,spO2
20,302028-000494,Yes,0.0,22.0,Home-Health Care Svc,NaN,NaN,Yes,3.0,15.0,...,NaN,NaN,0.0,3264.00,72.008,117/72,102.6,89.0,20.0,92.0
21,302028-000494,Yes,39.0,43.0,Home-Health Care Svc,NaN,NaN,No,NaN,NaN,...,NaN,NaN,39.0,2816.00,72.000,110/60,98.9,108.0,22.0,100.0
46,302028-000437,Yes,135.0,151.0,Deceased,NaN,NaN,Yes,143.0,151.0,...,NaN,NaN,135.0,3600.00,73.000,120/50,98.1,63.0,24.0,95.0
77,302028-000742,Yes,-2.0,1.0,Home or Self Care,NaN,NaN,Yes,0.0,1.0,...,NaN,NaN,-2.0,4800.00,70.000,125/74,98.5,110.0,16.0,95.0
92,302028-000136,Yes,-1.0,31.0,Deceased,NaN,NaN,Yes,0.0,10.0,...,NaN,NaN,-1.0,4096.00,73.000,140/62,98.2,82.0,16.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3871,302028-002695,Yes,0.0,11.0,Home-Health Care Svc,NaN,NaN,Yes,1.0,3.0,...,NaN,NaN,0.0,2176.00,66.000,112/56,97.9,74.0,26.0,80.0
4018,302028-003831,Yes,0.0,66.0,Acute/Inpatient Rehab Facility,NaN,NaN,Yes,0.0,13.0,...,NaN,NaN,0.0,2016.00,65.000,140/91,98.3,123.0,22.0,80.0
4055,302028-003967,Yes,0.0,9.0,Deceased,NaN,NaN,Yes,0.0,1.0,...,NaN,NaN,0.0,2582.03,75.000,101/65,97.0,60.0,22.0,99.0
4056,302028-003967,Yes,0.0,9.0,Deceased,NaN,NaN,Yes,1.0,9.0,...,NaN,NaN,0.0,2582.03,75.000,101/65,97.0,60.0,22.0,99.0
4346,302028-004122,Yes,3.0,6.0,Home or Self Care,NaN,NaN,No,NaN,NaN,...,NaN,NaN,3.0,2566.40,64.000,153/98,98.1,83.0,18.0,97.0

#### There are 211 patient admissions. Let's clean this table up a bit:

In [ ]:
admission_details_b1 = admission_details_b1[['anon_mrn', 'anon_date_covid19_hospital_admission', 'anon_date_covid19_hospital_discharge', 'covid19_discharge_type', 'anon_date_covid19_icu_admission', 'anon_date_covid19_icu_discharge']]

In [ ]:
admission_details_b1.rename(columns={'anon_mrn': 'case_ids', 'anon_date_covid19_hospital_admission': 'days_to_hospital_admission',
                                     'anon_date_covid19_hospital_discharge': 'days_to_hospital_discharge',
                                     'covid19_discharge_type':'discharge_type', 'anon_date_covid19_icu_admission': 'days_to_icu_admission',
                                     'anon_date_covid19_icu_discharge': 'days_to_icu_discharge'}, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
admission_details_b1['cases'] = admission_details_b1['case_ids']

<ipython-input-10-5d72a6515aeb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admission_details_b1['cases'] = admission_details_b1['case_ids']

In [ ]:
admission_details_b1

,case_ids,days_to_hospital_admission,days_to_hospital_discharge,discharge_type,days_to_icu_admission,days_to_icu_discharge,cases
20,302028-000494,0.0,22.0,Home-Health Care Svc,3.0,15.0,302028-000494
21,302028-000494,39.0,43.0,Home-Health Care Svc,NaN,NaN,302028-000494
46,302028-000437,135.0,151.0,Deceased,143.0,151.0,302028-000437
77,302028-000742,-2.0,1.0,Home or Self Care,0.0,1.0,302028-000742
92,302028-000136,-1.0,31.0,Deceased,0.0,10.0,302028-000136
...,...,...,...,...,...,...,...
3871,302028-002695,0.0,11.0,Home-Health Care Svc,1.0,3.0,302028-002695
4018,302028-003831,0.0,66.0,Acute/Inpatient Rehab Facility,0.0,13.0,302028-003831
4055,302028-003967,0.0,9.0,Deceased,0.0,1.0,302028-003967
4056,302028-003967,0.0,9.0,Deceased,1.0,9.0,302028-003967
4346,302028-004122,3.0,6.0,Home or Self Care,NaN,NaN,302028-004122

#### Looks good. Making sure that the discharge type property doesn't contain any potential PHI:

In [ ]:
admission_details_b1['discharge_type'].unique()

array(['Home-Health Care Svc', 'Deceased', 'Home or Self Care',
       'Long Term Care', 'Acute/Inpatient Rehab Facility',
       'Subacute Rehab/Skilled Nursing Facility', 'Hospice/Home',
       'Hospice/Medical Facility', 'Left Against Medical Advice',
       'Intermediate Care Facility', 'Court/Law Enforcement',
       'Short Term Hospital'], dtype=object)

#### Now let's create the unique submitter ids:

In [ ]:
mrns = admission_details_b1['case_ids'].tolist()
print(mrns)

['302028-000494', '302028-000494', '302028-000437', '302028-000742', '302028-000136', '302028-000136', '302028-000039', '302028-000278', '302028-000802', '302028-000015', '302028-000015', '302028-000261', '302028-000329', '302028-000329', '302028-000390', '302028-001171', '302028-001171', '302028-000572', '302028-000943', '302028-000204', '302028-000267', '302028-000353', '302028-000146', '302028-000405', '302028-000079', '302028-000079', '302028-000213', '302028-000593', '302028-000472', '302028-000292', '302028-000626', '302028-000521', '302028-000132', '302028-000018', '302028-000570', '302028-000570', '302028-000122', '302028-000459', '302028-000286', '302028-000286', '302028-000591', '302028-000591', '302028-000877', '302028-000543', '302028-000543', '302028-000067', '302028-000119', '302028-000825', '302028-000865', '302028-000865', '302028-000865', '302028-000865', '302028-000065', '302028-001309', '302028-000169', '302028-000365', '302028-000242', '302028-000025', '302028-000544', '302028-000428', '302028-000021', '302028-000115', '302028-000538', '302028-000433', '302028-000126', '302028-000126', '302028-000126', '302028-000452', '302028-000456', '302028-000456', '302028-000456', '302028-000182', '302028-000786', '302028-000745', '302028-000746', '302028-000218', '302028-000017', '302028-000116', '302028-000116', '302028-000116', '302028-000411', '302028-000411', '302028-001018', '302028-001018', '302028-001018', '302028-000305', '302028-000318', '302028-000604', '302028-000210', '302028-000210', '302028-000687', '302028-000548', '302028-000672', '302028-000070', '302028-000070', '302028-000070', '302028-000811', '302028-000107', '302028-000107', '302028-000874', '302028-000082', '302028-000684', '302028-000035', '302028-000826', '302028-000103', '302028-000026', '302028-000471', '302028-000058', '302028-000664', '302028-000664', '302028-000020', '302028-000674', '302028-000394', '302028-000759', '302028-000197', '302028-000445', '302028-000045', '302028-000140', '302028-001387', '302028-000062', '302028-000326', '302028-000856', '302028-000332', '302028-000889', '302028-000767', '302028-000557', '302028-000478', '302028-000478', '302028-000029', '302028-000764', '302028-000331', '302028-000636', '302028-000484', '302028-000443', '302028-000617', '302028-000094', '302028-000360', '302028-001337', '302028-001337', '302028-000239', '302028-000239', '302028-000545', '302028-000177', '302028-000819', '302028-000904', '302028-000234', '302028-000234', '302028-000259', '302028-000092', '302028-000092', '302028-000721', '302028-000885', '302028-000710', '302028-000710', '302028-000710', '302028-000153', '302028-000705', '302028-000027', '302028-000563', '302028-000105', '302028-000589', '302028-000425', '302028-000071', '302028-000726', '302028-000044', '302028-000077', '302028-000274', '302028-000274', '302028-000573', '302028-000631', '302028-000265', '302028-000225', '302028-000345', '302028-000138', '302028-000616', '302028-000890', '302028-000890', '302028-000806', '302028-000473', '302028-001709', '302028-002223', '302028-002223', '302028-002223', '302028-002464', '302028-003150', '302028-001911', '302028-001844', '302028-001844', '302028-002047', '302028-002548', '302028-001964', '302028-002152', '302028-003740', '302028-002075', '302028-002075', '302028-001904', '302028-001738', '302028-003424', '302028-001735', '302028-001922', '302028-001636', '302028-002029', '302028-002029', '302028-003605', '302028-003700', '302028-001929', '302028-002695', '302028-003831', '302028-003967', '302028-003967', '302028-004122']

In [ ]:
count = 1
for i in range(len(mrns)):
  if i !=(len(mrns)-1):
    next = mrns[i+1]
  else:
    next = 'end'
  current = mrns[i]
  mrns[i] = mrns[i] + "_0" + str(count)
  if current == next:
    count = count+1
  else:
    count = 1

In [ ]:
admission_details_b1 = admission_details_b1.assign(submitter_id=mrns)
admission_details_b1

,case_ids,days_to_hospital_admission,days_to_hospital_discharge,discharge_type,days_to_icu_admission,days_to_icu_discharge,cases,submitter_id
20,302028-000494,0.0,22.0,Home-Health Care Svc,3.0,15.0,302028-000494,302028-000494_01
21,302028-000494,39.0,43.0,Home-Health Care Svc,NaN,NaN,302028-000494,302028-000494_02
46,302028-000437,135.0,151.0,Deceased,143.0,151.0,302028-000437,302028-000437_01
77,302028-000742,-2.0,1.0,Home or Self Care,0.0,1.0,302028-000742,302028-000742_01
92,302028-000136,-1.0,31.0,Deceased,0.0,10.0,302028-000136,302028-000136_01
...,...,...,...,...,...,...,...,...
3871,302028-002695,0.0,11.0,Home-Health Care Svc,1.0,3.0,302028-002695,302028-002695_01
4018,302028-003831,0.0,66.0,Acute/Inpatient Rehab Facility,0.0,13.0,302028-003831,302028-003831_01
4055,302028-003967,0.0,9.0,Deceased,0.0,1.0,302028-003967,302028-003967_01
4056,302028-003967,0.0,9.0,Deceased,1.0,9.0,302028-003967,302028-003967_02
4346,302028-004122,3.0,6.0,Home or Self Care,NaN,NaN,302028-004122,302028-004122_01

In [ ]:
admission_details_b1["submitter_id"] =   "Visit_" + admission_details_b1["submitter_id"]

In [ ]:
admission_details_b1

,case_ids,days_to_hospital_admission,days_to_hospital_discharge,discharge_type,days_to_icu_admission,days_to_icu_discharge,cases,submitter_id
20,302028-000494,0.0,22.0,Home-Health Care Svc,3.0,15.0,302028-000494,Visit_302028-000494_01
21,302028-000494,39.0,43.0,Home-Health Care Svc,NaN,NaN,302028-000494,Visit_302028-000494_02
46,302028-000437,135.0,151.0,Deceased,143.0,151.0,302028-000437,Visit_302028-000437_01
77,302028-000742,-2.0,1.0,Home or Self Care,0.0,1.0,302028-000742,Visit_302028-000742_01
92,302028-000136,-1.0,31.0,Deceased,0.0,10.0,302028-000136,Visit_302028-000136_01
...,...,...,...,...,...,...,...,...
3871,302028-002695,0.0,11.0,Home-Health Care Svc,1.0,3.0,302028-002695,Visit_302028-002695_01
4018,302028-003831,0.0,66.0,Acute/Inpatient Rehab Facility,0.0,13.0,302028-003831,Visit_302028-003831_01
4055,302028-003967,0.0,9.0,Deceased,0.0,1.0,302028-003967,Visit_302028-003967_01
4056,302028-003967,0.0,9.0,Deceased,1.0,9.0,302028-003967,Visit_302028-003967_02
4346,302028-004122,3.0,6.0,Home or Self Care,NaN,NaN,302028-004122,Visit_302028-004122_01

#### Everything looks good. Let's double check that we have 211 unique submitter ids:

In [ ]:
admission_details_b1.drop_duplicates(subset = 'submitter_id')

,case_ids,days_to_hospital_admission,days_to_hospital_discharge,discharge_type,days_to_icu_admission,days_to_icu_discharge,cases,submitter_id
20,302028-000494,0.0,22.0,Home-Health Care Svc,3.0,15.0,302028-000494,Visit_302028-000494_01
21,302028-000494,39.0,43.0,Home-Health Care Svc,NaN,NaN,302028-000494,Visit_302028-000494_02
46,302028-000437,135.0,151.0,Deceased,143.0,151.0,302028-000437,Visit_302028-000437_01
77,302028-000742,-2.0,1.0,Home or Self Care,0.0,1.0,302028-000742,Visit_302028-000742_01
92,302028-000136,-1.0,31.0,Deceased,0.0,10.0,302028-000136,Visit_302028-000136_01
...,...,...,...,...,...,...,...,...
3871,302028-002695,0.0,11.0,Home-Health Care Svc,1.0,3.0,302028-002695,Visit_302028-002695_01
4018,302028-003831,0.0,66.0,Acute/Inpatient Rehab Facility,0.0,13.0,302028-003831,Visit_302028-003831_01
4055,302028-003967,0.0,9.0,Deceased,0.0,1.0,302028-003967,Visit_302028-003967_01
4056,302028-003967,0.0,9.0,Deceased,1.0,9.0,302028-003967,Visit_302028-003967_02
4346,302028-004122,3.0,6.0,Home or Self Care,NaN,NaN,302028-004122,Visit_302028-004122_01

#### Visit node for UMichigan batch 1 is now complete. Let's download the file:

In [ ]:
admission_details_b1.to_csv('visit_RSNA_20230117.csv', index = False)