In [ ]:
import pandas as pd
import numpy as np

### QC clinical submission TSVs

In [ ]:
directory1 = '/content/Case_Node_final.tsv'
directory2 = '/content/Image_Node_final.tsv'
directory3 = '/content/Measurement_Node_final.tsv'

directory4 = '' #Insert DME Directory Path here

In [ ]:
csv_table1 =pd.read_table(directory1,sep='\t')
csv_table1.to_csv('CaseNode.csv',index=False)
case_node = pd.read_csv('CaseNode.csv')

csv_table2 =pd.read_table(directory2,sep='\t')
csv_table2.to_csv('ImageNode.csv',index=False)
image_node = pd.read_csv('ImageNode.csv')

csv_table3 =pd.read_table(directory3,sep='\t')
csv_table3.to_csv('MeasurementNode.csv',index=False)
measure_node = pd.read_csv('MeasurementNode.csv')

powertools = pd.read_csv(directory4)

#### Checking Case node:

In [ ]:
powertools

,file_name,accession_number,acquisition_type,body_part_examined,case_ids,contrast_bolus_agent,patient_position,convolution_kernel,detector_type,exposure_modulation_type,...,pixel_spacing,series_description,series_uid,slice_thickness,spacing_between_slices,spatial_resolution,study_description,study_uid,view_position,study_date
0,1.2.826.0.1.3680043.10.474.639127.4305.dcm,974,NaN,CHEST,639127-000002,NaN,NaN,NaN,DIRECT,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.639127.4307,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.4306,AP,20200623
1,1.2.826.0.1.3680043.10.474.639127.4.dcm,2,NaN,SKULL,639127-000002,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.6,NaN,NaN,NaN,"VP SHUNT - CHEST 2V, ABD COMPLETE, SKULL < 4VWS",1.2.826.0.1.3680043.10.474.639127.5,NaN,20200610
2,1.2.826.0.1.3680043.10.474.639127.965.dcm,2,NaN,ABDOMEN,639127-000002,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.966,NaN,NaN,NaN,"VP SHUNT - CHEST 2V, ABD COMPLETE, SKULL < 4VWS",1.2.826.0.1.3680043.10.474.639127.5,NaN,20200610
3,1.2.826.0.1.3680043.10.474.639127.967.dcm,2,NaN,ABDOMEN,639127-000002,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.968,NaN,NaN,NaN,"VP SHUNT - CHEST 2V, ABD COMPLETE, SKULL < 4VWS",1.2.826.0.1.3680043.10.474.639127.5,NaN,20200610
4,1.2.826.0.1.3680043.10.474.639127.969.dcm,2,NaN,CSPINE,639127-000002,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.970,NaN,NaN,NaN,"VP SHUNT - CHEST 2V, ABD COMPLETE, SKULL < 4VWS",1.2.826.0.1.3680043.10.474.639127.5,NaN,20200610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8356,1.2.826.0.1.3680043.10.474.671385.22860.dcm,6088,NaN,CHEST,671385-002689,NaN,NaN,NaN,SCINTILLATOR,NaN,...,0.160,NaN,1.2.826.0.1.3680043.10.474.671385.22861,NaN,NaN,0.16,NaN,1.2.826.0.1.3680043.10.474.671385.22858,NaN,20190621
8357,1.2.826.0.1.3680043.10.474.671385.22862.dcm,6089,NaN,CHEST,671385-002690,NaN,NaN,NaN,DIRECT,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.671385.22864,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22863,AP,20120229
8358,1.2.826.0.1.3680043.10.474.671385.22865.dcm,6090,NaN,CHEST,671385-002691,NaN,NaN,NaN,NaN,NaN,...,0.168,AP,1.2.826.0.1.3680043.10.474.671385.22867,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22866,AP,20140801
8359,1.2.826.0.1.3680043.10.474.671385.22868.dcm,6091,NaN,CHEST,671385-002692,NaN,NaN,NaN,SCINTILLATOR,NaN,...,NaN,Chest,1.2.826.0.1.3680043.10.474.671385.22870,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22869,AP,20150914
8360,1.2.826.0.1.3680043.10.474.671385.22871.dcm,6092,NaN,CHEST,671385-002693,NaN,NaN,NaN,SCINTILLATOR,NaN,...,NaN,Chest,1.2.826.0.1.3680043.10.474.671385.22873,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22872,AP,20160423

In [ ]:
powertools.drop_duplicates(subset='case_ids')

,file_name,accession_number,acquisition_type,body_part_examined,case_ids,contrast_bolus_agent,patient_position,convolution_kernel,detector_type,exposure_modulation_type,...,pixel_spacing,series_description,series_uid,slice_thickness,spacing_between_slices,spatial_resolution,study_description,study_uid,view_position,study_date
0,1.2.826.0.1.3680043.10.474.639127.4305.dcm,974,NaN,CHEST,639127-000002,NaN,NaN,NaN,DIRECT,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.639127.4307,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.4306,AP,20200623
6,1.2.826.0.1.3680043.10.474.639127.1032.dcm,213,NaN,CHEST,639127-000003,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.1034,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.1033,NaN,20220210
35,1.2.826.0.1.3680043.10.474.639127.10.dcm,4,NaN,L SPINE,639127-000004,NaN,NaN,NaN,NaN,NaN,...,0.139,Lateral,1.2.826.0.1.3680043.10.474.639127.12,NaN,NaN,NaN,LUMBAR SACRAL SPINE 2/3 VIEWS,1.2.826.0.1.3680043.10.474.639127.11,LATERAL,20200720
40,1.2.826.0.1.3680043.10.474.639127.1748.dcm,384,NaN,PORT CHEST,639127-000005,NaN,NaN,NaN,DIRECT,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.639127.1750,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.1749,AP,20151022
48,1.2.826.0.1.3680043.10.474.639127.29.dcm,7,NaN,KNEE,639127-000006,NaN,NaN,NaN,NaN,NaN,...,0.139,AP Wght Bearing,1.2.826.0.1.3680043.10.474.639127.31,NaN,NaN,NaN,KNEE 2 VIEWS LEFT,1.2.826.0.1.3680043.10.474.639127.30,AP WGHT BEARING,20200222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8354,1.2.826.0.1.3680043.10.474.671385.22854.dcm,6087,NaN,CHEST,671385-002689,NaN,NaN,NaN,NaN,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.671385.22856,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22855,AP,20190617
8357,1.2.826.0.1.3680043.10.474.671385.22862.dcm,6089,NaN,CHEST,671385-002690,NaN,NaN,NaN,DIRECT,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.671385.22864,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22863,AP,20120229
8358,1.2.826.0.1.3680043.10.474.671385.22865.dcm,6090,NaN,CHEST,671385-002691,NaN,NaN,NaN,NaN,NaN,...,0.168,AP,1.2.826.0.1.3680043.10.474.671385.22867,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22866,AP,20140801
8359,1.2.826.0.1.3680043.10.474.671385.22868.dcm,6091,NaN,CHEST,671385-002692,NaN,NaN,NaN,SCINTILLATOR,NaN,...,NaN,Chest,1.2.826.0.1.3680043.10.474.671385.22870,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22869,AP,20150914
8360,1.2.826.0.1.3680043.10.474.671385.22871.dcm,6092,NaN,CHEST,671385-002693,NaN,NaN,NaN,SCINTILLATOR,NaN,...,NaN,Chest,1.2.826.0.1.3680043.10.474.671385.22873,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22872,AP,20160423

#### Let's check that there's the desired number of unique cases in the case node:

In [ ]:
len(case_node)

2690

In [ ]:
len(case_node.drop_duplicates(subset='submitter_id'))

2690

In [ ]:
powertools.loc[~powertools.case_ids.isin(case_node['submitter_id'])]

Empty DataFrame
Columns: [file_name, accession_number, acquisition_type, body_part_examined, case_ids, contrast_bolus_agent, patient_position, convolution_kernel, detector_type, exposure_modulation_type, image_type, imager_pixel_spacing, lossy_image_compression, manufacturer, manufacturer_model_name, modality, sop_instance_uid, pixel_spacing, series_description, series_uid, slice_thickness, spacing_between_slices, spatial_resolution, study_description, study_uid, view_position, study_date]
Index: []

[0 rows x 27 columns]

#### Let's look at the properties of the case node:

In [ ]:
case_node

,type,submitter_id,site_id,case_ids,age_at_index_gt89,age_at_index,sex,race,ethnicity,gen3_linked_subjects_available,zip,index_event,linked_external_data,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin,token_record_id,treatment_info,datasets
0,case,639127-000002,639127,639127-000002,No,NaN,Male,White,Not Hispanic or Latino,False,481,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,case,639127-000003,639127,639127-000003,No,55.0,Female,White,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,case,639127-000004,639127,639127-000004,No,70.0,Female,Not Reported,Not Reported,False,483,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,case,639127-000005,639127,639127-000005,No,75.0,Male,Native Hawaiian or other Pacific Islander,Not Hispanic or Latino,False,480,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,case,639127-000006,639127,639127-000006,No,75.0,Female,White,Not Hispanic or Latino,False,483,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2685,case,671385-002689,671385,671385-002689,No,75.0,Male,Black or African American,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2686,case,671385-002690,671385,671385-002690,No,55.0,Female,Black or African American,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2687,case,671385-002691,671385,671385-002691,No,55.0,Male,Black or African American,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2688,case,671385-002692,671385,671385-002692,No,NaN,Female,White,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2689,case,671385-002693,671385,671385-002693,No,NaN,Male,Black or African American,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Let's make sure that the properties are mapped according to the MIDRC data model:

In [ ]:
case_node['sex'].unique()

array(['Male', 'Female', 'Not Reported'], dtype=object)

In [ ]:
case_node['ethnicity'].unique()

array(['Not Hispanic or Latino', 'Not Reported', 'Hispanic or Latino'],
      dtype=object)

In [ ]:
case_node['race'].unique()

array(['White', 'Not Reported',
       'Native Hawaiian or other Pacific Islander', 'Other',
       'Black or African American', 'Asian',
       'American Indian or Alaska Native'], dtype=object)

#### Verify that site_ids are listed only as desired result

In [ ]:
case_node['site_id'].unique()

array([639127, 671385])

#### Address unique zip codes within case node

In [ ]:
case_node['zip'].unique()

array(['481', '482', '483', '480', nan, 'N6J', '488', '497', '484', '492',
       '103', '344', '129', '339', '341', '346', '301', '430', '489',
       '496', '968', '0', '490'], dtype=object)

In [ ]:
case_node.loc[case_node['zip'].isnull()]

,type,submitter_id,site_id,case_ids,age_at_index_gt89,age_at_index,sex,race,ethnicity,gen3_linked_subjects_available,zip,index_event,linked_external_data,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin,token_record_id,treatment_info,datasets
16,case,639127-000018,639127,639127-000018,No,85.0,Female,White,Not Hispanic or Latino,False,NaN,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Checking age:

In [ ]:
case_node['age_at_index'].unique()

array([nan, 55., 70., 75., 80., 30., 60., 65., 85., 35., 10., 40., 25.,
       45., 50., 20.,  5., 15.,  0.])

In [ ]:
case_node['age_at_index_gt89'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
null_age_case = case_node.loc[case_node['age_at_index'].isnull()]

#### Locate and investigate missing ages

In [ ]:
cases_without_age =  null_age_case.loc[null_age_case['age_at_index_gt89'] == 'No']
cases_without_age

,type,submitter_id,site_id,case_ids,age_at_index_gt89,age_at_index,sex,race,ethnicity,gen3_linked_subjects_available,zip,index_event,linked_external_data,covid19_positive,icu_indicator,ventilator_indicator,country_of_origin,token_record_id,treatment_info,datasets
0,case,639127-000002,639127,639127-000002,No,NaN,Male,White,Not Hispanic or Latino,False,481,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,case,639127-000014,639127,639127-000014,No,NaN,Male,White,Not Hispanic or Latino,False,480,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,case,639127-000016,639127,639127-000016,No,NaN,Female,Black or African American,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,case,639127-000030,639127,639127-000030,No,NaN,Female,White,Not Hispanic or Latino,False,483,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,case,639127-000041,639127,639127-000041,No,NaN,Female,White,Not Hispanic or Latino,False,483,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,case,671385-002670,671385,671385-002670,No,NaN,Male,White,Not Hispanic or Latino,False,483,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2682,case,671385-002686,671385,671385-002686,No,NaN,Male,Black or African American,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2683,case,671385-002687,671385,671385-002687,No,NaN,Male,White,Not Hispanic or Latino,False,483,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2688,case,671385-002692,671385,671385-002692,No,NaN,Female,White,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2689,case,671385-002693,671385,671385-002693,No,NaN,Male,Black or African American,Not Hispanic or Latino,False,482,First COVID test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Now let's review the imaging study node:

In [ ]:
powertools.drop_duplicates(subset='study_uid')

,file_name,accession_number,acquisition_type,body_part_examined,case_ids,contrast_bolus_agent,patient_position,convolution_kernel,detector_type,exposure_modulation_type,...,pixel_spacing,series_description,series_uid,slice_thickness,spacing_between_slices,spatial_resolution,study_description,study_uid,view_position,study_date
0,1.2.826.0.1.3680043.10.474.639127.4305.dcm,974,NaN,CHEST,639127-000002,NaN,NaN,NaN,DIRECT,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.639127.4307,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.4306,AP,20200623
1,1.2.826.0.1.3680043.10.474.639127.4.dcm,2,NaN,SKULL,639127-000002,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.6,NaN,NaN,NaN,"VP SHUNT - CHEST 2V, ABD COMPLETE, SKULL < 4VWS",1.2.826.0.1.3680043.10.474.639127.5,NaN,20200610
5,1.2.826.0.1.3680043.10.474.639127.962.dcm,201,NaN,CHEST,639127-000002,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.964,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.963,NaN,20200610
6,1.2.826.0.1.3680043.10.474.639127.1032.dcm,213,NaN,CHEST,639127-000003,NaN,NaN,NaN,NaN,NaN,...,0.175,AP,1.2.826.0.1.3680043.10.474.639127.1034,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.1033,NaN,20220210
7,1.2.826.0.1.3680043.10.474.639127.2852.dcm,634,NaN,CHEST,639127-000003,NaN,NaN,NaN,NaN,NaN,...,0.175,PA,1.2.826.0.1.3680043.10.474.639127.2854,NaN,NaN,NaN,CHEST 1 VIEW,1.2.826.0.1.3680043.10.474.639127.2853,NaN,20220226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,1.2.826.0.1.3680043.10.474.671385.22857.dcm,6088,NaN,CHEST,671385-002689,NaN,NaN,NaN,SCINTILLATOR,NaN,...,0.160,NaN,1.2.826.0.1.3680043.10.474.671385.22859,NaN,NaN,0.16,NaN,1.2.826.0.1.3680043.10.474.671385.22858,NaN,20190621
8357,1.2.826.0.1.3680043.10.474.671385.22862.dcm,6089,NaN,CHEST,671385-002690,NaN,NaN,NaN,DIRECT,NaN,...,0.139,AP,1.2.826.0.1.3680043.10.474.671385.22864,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22863,AP,20120229
8358,1.2.826.0.1.3680043.10.474.671385.22865.dcm,6090,NaN,CHEST,671385-002691,NaN,NaN,NaN,NaN,NaN,...,0.168,AP,1.2.826.0.1.3680043.10.474.671385.22867,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22866,AP,20140801
8359,1.2.826.0.1.3680043.10.474.671385.22868.dcm,6091,NaN,CHEST,671385-002692,NaN,NaN,NaN,SCINTILLATOR,NaN,...,NaN,Chest,1.2.826.0.1.3680043.10.474.671385.22870,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22869,AP,20150914
8360,1.2.826.0.1.3680043.10.474.671385.22871.dcm,6092,NaN,CHEST,671385-002693,NaN,NaN,NaN,SCINTILLATOR,NaN,...,NaN,Chest,1.2.826.0.1.3680043.10.474.671385.22873,NaN,NaN,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.22872,AP,20160423

#### Verify that the desired number of studies are in the image node

In [ ]:
len(image_node)

6094

In [ ]:
len(image_node.drop_duplicates(subset='submitter_id'))

6094

In [ ]:
powertools.loc[~powertools.study_uid.isin(image_node['submitter_id'])]

Empty DataFrame
Columns: [file_name, accession_number, acquisition_type, body_part_examined, case_ids, contrast_bolus_agent, patient_position, convolution_kernel, detector_type, exposure_modulation_type, image_type, imager_pixel_spacing, lossy_image_compression, manufacturer, manufacturer_model_name, modality, sop_instance_uid, pixel_spacing, series_description, series_uid, slice_thickness, spacing_between_slices, spatial_resolution, study_description, study_uid, view_position, study_date]
Index: []

[0 rows x 27 columns]

#### Verify correct number of cases in image node

In [ ]:
len(image_node.drop_duplicates(subset='case_ids'))

2690

#### Taking a look at the properties:

#### The days_to_study look like they need to be changed. If the imaging study comes before the case's first covid test date, the days_to_study value for that imaging study should be negative.

In [ ]:
image_node

,type,submitter_id,cases,case_ids,study_description,days_to_study,age_at_imaging,age_at_imaging_gt89,body_part_examined,study_location,...,days_from_study_to_neg_covid_test,days_from_study_to_pos_covid_test,study_uid,study_year,study_year_shifted,loinc_long_common_name,loinc_system,loinc_code,loinc_method,loinc_contrast
0,imaging_study,1.2.826.0.1.3680043.10.474.671385.20918,671385-002469,671385-002469,NaN,25.0,65.0,No,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20918,NaN,True,NaN,NaN,NaN,NaN,NaN
1,imaging_study,1.2.826.0.1.3680043.10.474.671385.20921,671385-002469,671385-002469,NaN,135.0,65.0,No,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20921,NaN,True,NaN,NaN,NaN,NaN,NaN
2,imaging_study,1.2.826.0.1.3680043.10.474.671385.20924,671385-002469,671385-002469,NaN,41.0,65.0,No,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20924,NaN,True,NaN,NaN,NaN,NaN,NaN
3,imaging_study,1.2.826.0.1.3680043.10.474.671385.20927,671385-002469,671385-002469,NaN,46.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20927,NaN,True,NaN,NaN,NaN,NaN,NaN
4,imaging_study,1.2.826.0.1.3680043.10.474.671385.20930,671385-002469,671385-002469,NaN,66.0,65.0,No,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20930,NaN,True,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6089,imaging_study,1.2.826.0.1.3680043.10.474.671385.20903,671385-002469,671385-002469,NaN,115.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20903,NaN,True,NaN,NaN,NaN,NaN,NaN
6090,imaging_study,1.2.826.0.1.3680043.10.474.671385.20906,671385-002469,671385-002469,NaN,113.0,NaN,Yes,PORT CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20906,NaN,True,NaN,NaN,NaN,NaN,NaN
6091,imaging_study,1.2.826.0.1.3680043.10.474.671385.20909,671385-002469,671385-002469,NaN,105.0,65.0,No,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20909,NaN,True,NaN,NaN,NaN,NaN,NaN
6092,imaging_study,1.2.826.0.1.3680043.10.474.671385.20912,671385-002469,671385-002469,NaN,100.0,65.0,No,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20912,NaN,True,NaN,NaN,NaN,NaN,NaN
6093,imaging_study,1.2.826.0.1.3680043.10.474.671385.20915,671385-002469,671385-002469,NaN,118.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20915,NaN,True,NaN,NaN,NaN,NaN,NaN

In [ ]:
image_node['study_description'].unique()

array([nan, 'CHEST 1 VIEW', 'CHEST 2 VIEWS',
       'FOOT RIGHT COMPLETE MIN 3 VIEWS', 'ABDOMEN 1 VIEW',
       'HUMERUS LEFT 2 VIEWS MIN', 'LUMBAR SACRAL SPINE 2/3 VIEWS',
       'FOOT LEFT COMPLETE MIN 3 VIEWS',
       'WRIST COMPLETE RIGHT 3 VIEWS MIN', 'FOREARM RIGHT 2 VIEWS',
       'ACUTE ABDOMINAL SERIES',
       'ABDOMEN 1 VW(PORTABLE) - FEEDING (NG/PEG) TUBE CHK WO INJ BY RAD',
       'HIP COMPLETE RIGHT MIN 2 VWS', 'PELVIS 1 OR 2 VIEWS',
       'TIBIA AND FIBULA RIGHT 2 VIEWS', 'Chest',
       'RIBS UNILATERAL LEFT 2 VWS WITH PA CHEST',
       'SHOULDER 3 VIEWS LEFT', 'SOFT TISSUE NECK',
       'THORACIC SPINE 3 VIEWS', 'ANKLE LEFT MIN 3 VIEWS',
       'TIBIA AND FIBULA LEFT 2 VIEWS', 'HIP COMPLETE LEFT MIN 2 VWS',
       'KNEE 3 VIEWS RIGHT', 'ANKLE 3 VIEWS RIGHT',
       'HAND LEFT 3 VIEWS MIN', 'HAND RIGHT 3 VIEWS MIN', 'Ankle & Foot',
       'Hand & Wrist', 'TIBIA AND FIBULA RT, 4 VWS OR MORE',
       'HAND 2 VIEWS LEFT', 'KNEE 3 VIEWS LEFT',
       'ANKLE RIGHT MIN 3 VIEWS', 'ELBOW COMPLETE LEFT MIN 3 VIEWS',
       'Foot - 2 Views', 'FEMUR LEFT 2 VIEWS MIN',
       'GASTROGRAFIN CHALLENGE, ABDOMEN 1V, INITIAL', 'Upper Extremity',
       'FEMUR RIGHT 2 VIEWS MIN', 'L/S Spine',
       'GASTROGRAFIN SINGLE CONTRAST ENEMA', 'FINGER(S) LEFT 2 VIEWS MIN',
       'FOREARM LEFT 2 VIEWS', 'L-SpineLAT WALL', 'PelvisAP TABLE',
       'ABDOMEN COMPLETE MIN 2 VWS', 'FOOT LEFT 3 VIEWS (WEIGHT BEARING)',
       'KNEE COMPLETE LEFT 4 OR MORE VIEWS', 'KNEE 2 VIEWS LEFT',
       'KNEE 2 VIEWS RIGHT', 'ChestPA WALL',
       'SINUSES COMPLETE MIN 3 VIEWS', 'Foot RT',
       'HIP RIGHT 2-3 VIEWS W PELVIS', 'SHOULDER 3 VIEWS RIGHT',
       'ANKLE LEFT 3 VIEWS (WEIGHT BEARING)', 'CERVICAL SPINE 2-3 VIEWS',
       'RIBS UNILATERAL LEFT 2 VIEWS', 'Abdomen GU,Abdomen',
       'Lower Extremity', 'FOOT 2 VIEWS RIGHT', 'THORACIC SPINE 2 VIEWS',
       'CHEST 1 VIEW AP/PA', 'FOOT',
       'BONE MINERAL DENSITY DXA AXIAL SKELETON (ROUTINE)',
       'HIP LEFT MIN 2 VIEWS ORTHO (LATERAL AND AP HIP)',
       'CHEST 2 VIEWS (ROUTINE)', 'KNEE LEFT 3 VIEWS (ROUTINE)',
       'HIP LEFT 2 VIEWS LATERAL AND AP PELVIS (ROUTINE)',
       'SHOULDER RIGHT 4 VIEWS', 'CHEST 1 VIEW (INCLUDING PORTABLE)',
       'ABDOMEN 1 VIEW KUB',
       'HIP RIGHT 2 VIEWS LATERAL AND AP PELVIS (ROUTINE)',
       'SHOULDER LEFT 1 VIEW', 'LUMBAR SACRAL SPINE MIN 4 VIEWS',
       'INFANT BONE SURVEY UP TO 12 MONTHS OLD', 'HIP RIGHT 1 VIEW',
       'SKULL LESS THAN 4 VIEWS',
       'LUMBAR SACRAL SPINE 2 OR 3 VIEWS (ROUTINE)',
       'SACRUM AND COCCYX MIN 2 VIEWS', 'FOOT LEFT MIN 3 VIEWS (ROUTINE)',
       'ELBOW RIGHT MIN 3 VIEWS (ROUTINE)',
       'RIBS UNILATERAL RIGHT 2 VWS WITH PA CHEST',
       'SHOULDER RIGHT 2 VIEWS', 'Adult Chest - 1 View',
       'Chest - 2 Views', 'C-Spine',
       'ANKLE RIGHT 3 VIEWS (WEIGHT BEARING)',
       'VP SHUNT - CHEST 2V, ABD COMPLETE, SKULL < 4VWS',
       'HIP COMPLETE LEFT MIN 2VWS ORTHO (AP AND LAT HIP)',
       'Skull, Sinus & Facial,Nasal & Orbits', 'Femur Knee Leg',
       'SMALL BOWEL'], dtype=object)

In [ ]:
null_age_image = image_node.loc[image_node['age_at_imaging'].isnull()]

In [ ]:
null_age_image.drop_duplicates(subset ='case_ids')

,type,submitter_id,cases,case_ids,study_description,days_to_study,age_at_imaging,age_at_imaging_gt89,body_part_examined,study_location,...,days_from_study_to_neg_covid_test,days_from_study_to_pos_covid_test,study_uid,study_year,study_year_shifted,loinc_long_common_name,loinc_system,loinc_code,loinc_method,loinc_contrast
3,imaging_study,1.2.826.0.1.3680043.10.474.671385.20927,671385-002469,671385-002469,NaN,46.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20927,NaN,True,NaN,NaN,NaN,NaN,NaN
11,imaging_study,1.2.826.0.1.3680043.10.474.671385.20953,671385-002470,671385-002470,NaN,52.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20953,NaN,True,NaN,NaN,NaN,NaN,NaN
12,imaging_study,1.2.826.0.1.3680043.10.474.671385.20956,671385-002471,671385-002471,NaN,53.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20956,NaN,True,NaN,NaN,NaN,NaN,NaN
16,imaging_study,1.2.826.0.1.3680043.10.474.671385.20968,671385-002473,671385-002473,NaN,47.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20968,NaN,True,NaN,NaN,NaN,NaN,NaN
17,imaging_study,1.2.826.0.1.3680043.10.474.671385.20971,671385-002474,671385-002474,NaN,52.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20971,NaN,True,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6025,imaging_study,1.2.826.0.1.3680043.10.474.671385.20675,671385-002448,671385-002448,NaN,58.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20675,NaN,True,NaN,NaN,NaN,NaN,NaN
6054,imaging_study,1.2.826.0.1.3680043.10.474.671385.20774,671385-002459,671385-002459,NaN,60.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20774,NaN,True,NaN,NaN,NaN,NaN,NaN
6056,imaging_study,1.2.826.0.1.3680043.10.474.671385.20782,671385-002461,671385-002461,NaN,52.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20782,NaN,True,NaN,NaN,NaN,NaN,NaN
6058,imaging_study,1.2.826.0.1.3680043.10.474.671385.20788,671385-002462,671385-002462,NaN,40.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20788,NaN,True,NaN,NaN,NaN,NaN,NaN
6066,imaging_study,1.2.826.0.1.3680043.10.474.671385.20816,671385-002464,671385-002464,NaN,140.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20816,NaN,True,NaN,NaN,NaN,NaN,NaN

In [ ]:
null_age_image.loc[~null_age_image.case_ids.isin(null_age_case['submitter_id'])]

,type,submitter_id,cases,case_ids,study_description,days_to_study,age_at_imaging,age_at_imaging_gt89,body_part_examined,study_location,...,days_from_study_to_neg_covid_test,days_from_study_to_pos_covid_test,study_uid,study_year,study_year_shifted,loinc_long_common_name,loinc_system,loinc_code,loinc_method,loinc_contrast
12,imaging_study,1.2.826.0.1.3680043.10.474.671385.20956,671385-002471,671385-002471,NaN,53.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20956,NaN,True,NaN,NaN,NaN,NaN,NaN
74,imaging_study,1.2.826.0.1.3680043.10.474.671385.21181,671385-002501,671385-002501,NaN,30.0,NaN,Yes,PORT CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.21181,NaN,True,NaN,NaN,NaN,NaN,NaN
75,imaging_study,1.2.826.0.1.3680043.10.474.671385.21186,671385-002501,671385-002501,NaN,67.0,NaN,Yes,PORT CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.21186,NaN,True,NaN,NaN,NaN,NaN,NaN
91,imaging_study,1.2.826.0.1.3680043.10.474.671385.21244,671385-002505,671385-002505,NaN,71.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.21244,NaN,True,NaN,NaN,NaN,NaN,NaN
93,imaging_study,1.2.826.0.1.3680043.10.474.671385.21250,671385-002505,671385-002505,NaN,69.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.21250,NaN,True,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6066,imaging_study,1.2.826.0.1.3680043.10.474.671385.20816,671385-002464,671385-002464,NaN,140.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20816,NaN,True,NaN,NaN,NaN,NaN,NaN
6072,imaging_study,1.2.826.0.1.3680043.10.474.671385.20838,671385-002464,671385-002464,NaN,138.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20838,NaN,True,NaN,NaN,NaN,NaN,NaN
6073,imaging_study,1.2.826.0.1.3680043.10.474.671385.20841,671385-002464,671385-002464,NaN,136.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20841,NaN,True,NaN,NaN,NaN,NaN,NaN
6074,imaging_study,1.2.826.0.1.3680043.10.474.671385.20846,671385-002464,671385-002464,NaN,137.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20846,NaN,True,NaN,NaN,NaN,NaN,NaN
6075,imaging_study,1.2.826.0.1.3680043.10.474.671385.20849,671385-002464,671385-002464,NaN,128.0,NaN,Yes,CHEST,NaN,...,NaN,NaN,1.2.826.0.1.3680043.10.474.671385.20849,NaN,True,NaN,NaN,NaN,NaN,NaN

In [ ]:
null_age_image.loc[null_age_image['age_at_imaging_gt89'] == 'No']

Empty DataFrame
Columns: [type, submitter_id, cases, case_ids, study_description, days_to_study, age_at_imaging, age_at_imaging_gt89, body_part_examined, study_location, study_modality, days_from_study_to_neg_covid_test, days_from_study_to_pos_covid_test, study_uid, study_year, study_year_shifted, loinc_long_common_name, loinc_system, loinc_code, loinc_method, loinc_contrast]
Index: []

[0 rows x 21 columns]

#### Please check age values

#### Onto the measurement node:

In [ ]:
measure_node

,type,submitter_id,cases,case_ids,test_name,test_days_from_index,test_result_text,test_method,conditions,procedures
0,measurement,Measurement_671385-000672_0001,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
1,measurement,Measurement_671385-000672_0002,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
2,measurement,Measurement_671385-000672_0003,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
3,measurement,Measurement_671385-000672_0004,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
4,measurement,Measurement_671385-000673_0001,671385-000673,671385-000673,COVID-19,0,Negative,RT-PCR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4230,measurement,Measurement_671385-000669_0001,671385-000669,671385-000669,COVID-19,0,Negative,RT-PCR,NaN,NaN
4231,measurement,Measurement_671385-000670_0001,671385-000670,671385-000670,COVID-19,0,Positive,RT-PCR,NaN,NaN
4232,measurement,Measurement_671385-000671_0001,671385-000671,671385-000671,COVID-19,0,Negative,RT-PCR,NaN,NaN
4233,measurement,Measurement_671385-000671_0002,671385-000671,671385-000671,COVID-19,0,Negative,RT-PCR,NaN,NaN
4234,measurement,Measurement_671385-000671_0003,671385-000671,671385-000671,COVID-19,0,Negative,RT-PCR,NaN,NaN

#### Verify Correct number of cases in measurement node✅

In [ ]:
len(measure_node.drop_duplicates(subset='cases'))

2690

In [ ]:
powertools.loc[~powertools.case_ids.isin(measure_node['cases'])]

Empty DataFrame
Columns: [file_name, accession_number, acquisition_type, body_part_examined, case_ids, contrast_bolus_agent, patient_position, convolution_kernel, detector_type, exposure_modulation_type, image_type, imager_pixel_spacing, lossy_image_compression, manufacturer, manufacturer_model_name, modality, sop_instance_uid, pixel_spacing, series_description, series_uid, slice_thickness, spacing_between_slices, spatial_resolution, study_description, study_uid, view_position, study_date]
Index: []

[0 rows x 27 columns]

#### Checking that every submitter id is unique, and they are ✅

In [ ]:
measure_node.drop_duplicates(subset='submitter_id')

,type,submitter_id,cases,case_ids,test_name,test_days_from_index,test_result_text,test_method,conditions,procedures
0,measurement,Measurement_671385-000672_0001,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
1,measurement,Measurement_671385-000672_0002,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
2,measurement,Measurement_671385-000672_0003,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
3,measurement,Measurement_671385-000672_0004,671385-000672,671385-000672,COVID-19,0,Negative,RT-PCR,NaN,NaN
4,measurement,Measurement_671385-000673_0001,671385-000673,671385-000673,COVID-19,0,Negative,RT-PCR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4230,measurement,Measurement_671385-000669_0001,671385-000669,671385-000669,COVID-19,0,Negative,RT-PCR,NaN,NaN
4231,measurement,Measurement_671385-000670_0001,671385-000670,671385-000670,COVID-19,0,Positive,RT-PCR,NaN,NaN
4232,measurement,Measurement_671385-000671_0001,671385-000671,671385-000671,COVID-19,0,Negative,RT-PCR,NaN,NaN
4233,measurement,Measurement_671385-000671_0002,671385-000671,671385-000671,COVID-19,0,Negative,RT-PCR,NaN,NaN
4234,measurement,Measurement_671385-000671_0003,671385-000671,671385-000671,COVID-19,0,Negative,RT-PCR,NaN,NaN

In [ ]:
measure_node['test_name'].unique()

array(['COVID-19'], dtype=object)

#### Check all test_days_from_index

In [ ]:
measure_node['test_days_from_index'].unique()

array([0])

In [ ]:
measure_node['test_result_text'].unique()

array(['Negative', 'Positive'], dtype=object)

In [ ]:
measure_node['test_method'].unique()

array(['RT-PCR'], dtype=object)